[submodule "app/static/Skeleton"]
	path = app/static/Skeleton
    url = https://github.com/dhg/Skeleton
    ignore = dirty
[submodule "app/static/open-iconic"]
    path = app/static/open-iconic
    url = https://github.com/iconic/open-iconic
    ignore = dirty
[submodule "app/static/jQuery-Form-Validator"]
	path = app/static/jQuery-Form-Validator
    url = https://github.com/victorjonsson/jQuery-Form-Validator
    ignore = dirty
[submodule "app/static/jquery.lazy"]
	path = app/static/jquery.lazy
	url = https://github.com/eisbehr-/jquery.lazy
[submodule "app/static/moment"]
	path = app/static/moment
	url = https://github.com/moment/moment
[submodule "app/static/fonts/Raleway_Fixed_Numerals"]
	path = app/static/fonts/Raleway_Fixed_Numerals
	url = https://github.com/h-ibaldo/Raleway_Fixed_Numerals
[submodule "app/static/Readmore.js"]
	path = app/static/Readmore.js
	url = https://github.com/jedfoster/Readmore.js
[submodule "app/static/jQuery-form"]
	path = app/static/jQuery-form
	url = http://github.com/malsup/form/
[submodule "app/static/autosize"]
	path = app/static/autosize
	url = https://github.com/jackmoore/autosize
