[submodule "app/static/Skeleton"]
	path = app/static/Skeleton
	url = https://github.com/dhg/Skeleton
[submodule "app/static/open-iconic"]
    path = app/static/open-iconic
    url = https://github.com/iconic/open-iconic
[submodule "app/static/jQuery-Form-Validator"]
	path = app/static/jQuery-Form-Validator
	url = https://github.com/victorjonsson/jQuery-Form-Validator
