# uploaded files
/app/static/uploads/

# Python
*.pyc
python.stackdump
venv/
virtualenv/

# Vim
*.sw?
*~

# App specific
app.db
test.db
envvars_dev.sh
db_repository/
coverage/

# local settings
/app/config/local_*.py

# Misc.
.DS_Store
.ackrc
