<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#)
-->
{% macro render_action_box(cause, action) %}
<a class="support-action u-pull-left" 
   data-target="modal-action-{{ action.id }}"
   {% if action.image %}
   style="background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url({{ action.image_url }}) no-repeat; background-size: cover"
   {% endif %}
   >
    <div class="support-action-modal-description">
        <h5 class="u-remove-margin-bottom">
            {% if current_user in action.supporters.all() %}
            <span class="oi" data-glyph="check" style="color:#ff9900;"></span>
            {% endif %}
            {{ action.title }}
        </h5>
        <article class="u-add-margin-top">{{ action.description|truncate(90, True) }}</article>
    </div>
    <small class="support-action-counter u-pull-left">
        <img class="icon" src="{{ url_for('static', filename='open-iconic/png/bullhorn-2x.png') }}"> 
        {{ _('%(count)s supporters', count=action.supporters.count()) }}
    </small>
    {% if action.expiration %}
    <small class="support-action-expiration u-pull-right">
        Expires: {{ action.expiration.strftime('%b. %d, %Y') }}
    </small>
    {% endif %}
</a>
{% endmacro %}

{% macro render_action_modal(cause, action) %}
{% from "helpers/users.html" import render_avatar %}
<div id="modal-action-{{ action.id }}" class="modal">
    <div>
        
        <h3 class="u-pull-left">
            <span class="oi" 
                  data-glyph="check" 
                  style="display:{% if current_user in action.supporters.all() %}inline{% else %}none{% endif %};"></span>  
            {{ action.title }}
        </h3>
        <a href="#" class="button-modal-close u-pull-right">
            <img src="/static/open-iconic/png/x-2x.png" alt="X" />
        </a>
        <span id="action-thanks-{{ action.id }}" class="good u-cf" style="padding:0 1em; display:none;">
            <p><strong>Thank you for taking this action on Solid!</strong> By letting friends know about it, you can help get this victory to the finish line. Sharing could inspire more actions for the {{ cause.title }} cause.</p>
            <p class="u-text-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ 
                         url_for('causes.cause_detail', slug=cause.slug,
                                 _external=True) | urlencode
                                 }}#modal-action-{{ action.id }}" 
                   target="_blank"
                   class="u-add-margin-right"><img class="icon-social" src="{{ url_for('static', filename='icons/facebook-square.png') }}"></a>
                <a href="https://twitter.com/home?status={{
                         url_for('causes.cause_detail', slug=cause.slug,
                                 _external=True) | urlencode
                                 }}#modal-action-{{ action.id }}"
                   target="_blank"
                   class="u-add-margin-right"><img class="icon-social" src="{{ url_for('static', filename='icons/twitter.png') }}"></a>
                <a href="https://plus.google.com/share?url={{
                         url_for('causes.cause_detail', slug=cause.slug,
                                 _external=True) | urlencode
                                 }}#modal-action-{{ action.id }}" 
                   target="_blank"><img class="icon-social" src="{{ url_for('static', filename='icons/googleplus-square.png') }}"></a>
            </p>
        </span>
        <span id="action-description-{{ action.id }}" class="u-cf">
            {{ action.description|markdown }}
        </span>
        {% if current_user not in action.supporters.all() %}
        <p class="u-remove-margin-bottom u-pull-right">
            {% if current_user.is_authenticated %}
                {% if action.link %}
                <a id="action-{{ action.id }}" class="button button-primary support" rel="external" target="_blank"
                   href="{{ action.link }}">{{ _('Go to 3rd party site') }}</a>
                {% else %}
                <a id="action-{{ action.id }}" class="button button-primary support" href="#">{{ _('Support!') }}</a>
                {% endif %}
            {% else %} 
            <a class="button button-primary support"
               href="{{ url_for('users.login', next='/cause/' + cause.slug + '/dashboard') }}#modal-action-{{ action.id }}">{{ _('Support!') }}</a>
            {% endif %}
        </p>
        {% else %}
        <p class="u-remove-margin-bottom u-pull-right">
            {% if action.link %}
                <a id="action-{{ action.id }}" class="button button-primary support" rel="external" target="_blank"
                   href="{{ action.link }}">{{ _('Go to 3rd party site') }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user in cause.creators.all() or current_user.is_admin %}
        <p class="u-remove-margin-bottom u-pull-right">
            <a class="button primary u-add-margin-right" 
                href="{{ url_for('causes.action_add_edit', slug=cause.slug,
                pk=action.id) }}">{{ _('Edit') }}</a>
        </p>
        {% endif %}
        {% if action.supporters %}
        <p class="u-remove-margin-bottom u-pull-left">
            {% for supporter in action.supporters %}
                {{ render_avatar(supporter) }}
            {% endfor %}
        </p>
        {% endif %}
        <br class="u-cf">
    </div>
</div>
{% endmacro %}

{% macro render_action_list(actions) %}
<ul class="actions-slider">
{% for action in actions %}
    <li>{{ render_action_box(cause, action) }}</li>
{% endfor %}
</ul>
{% for action in actions %}
    {{ render_action_modal(cause, action) }}
{% endfor %}
{% endmacro %}
