<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#cause-helpers)
-->

{% macro render_cause_info(caption, info) %}
<p class="u-cf u-remove-margin-bottom">
    <strong>{{ caption }}</strong>
</p>
<h2>{{ info }}</h2>
{% endmacro %}

{% macro render_log(log) %}
{% from "helpers/users.html" import render_avatar %}
{% set captions={
    1: 'Added a cause',
    2: 'Edited a cause',
    3: 'Supported a cause',
    4: 'Reached cause milestone',
    5: 'Added an action',
    6: 'Supported an action',
    7: 'Commented on action',
    8: 'Added a post',
    9: 'Posted a reply'
    }
%}
{% for event in log|reverse %}
<div class="feed-item">
    <small>{{ event.logged_at.strftime('%b %d, %Y @ %H:%M') }}</small>
    <p>
        {{ render_avatar(event.user) }}&nbsp;
        {{ captions[event.event_type_id] }}:
        <a href="{{ url_for('posts.post_detail', slug=event.item.cause.slug, pk=event.item.id) }}">
            {{ event.item.title }}
        </a>
    </p>
</div>
{% endfor %}
{% endmacro %}
