<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#cause-helpers)
-->

{% macro render_cause_info(caption, info) %}
<p class="u-cf u-remove-margin-bottom">
    <strong>{{ caption }}</strong>
</p>
<h2>{{ info }}</h2>
{% endmacro %}

{% macro render_log(log) %}
{% from "helpers/users.html" import render_avatar %}
{% from "helpers/posts.html" import render_post with context %}
{% from "helpers/posts.html" import render_post_comment with context %}
{% set captions={
    1: _('added a cause'),
    2: _('edited a cause'),
    3: _('supported a cause'),
    4: _('reached cause milestone'),
    5: _('added an action'),
    6: _('supported an action'),
    7: _('commented on action'),
    8: _('said'),
    9: _('posted a reply'),
    }
%}
{% set log_loop = namespace(previous=None) %}
{% for event in log %}
    {% if log_loop.previous != event.logged_at.strftime('%b. %d, %Y') and not event.item.deleted %} 
        <small class="separator">
            <span>
                {{ event.logged_at.strftime('%b. %d, %Y') }}
            </span>
        </small>
    {% endif %}
    {% set log_loop.previous = event.logged_at.strftime('%b. %d, %Y') %} 
    <div class="feed-item">
        {% if event.event_type_id < 8 %}
        <p>
            {% if event.event_type_id in [1,2,3,4] %}
            {{ render_avatar(event.user) }}&nbsp;
            {{ captions[event.event_type_id] }}:
            <a class="feed-link"
               href="{{ url_for('causes.cause_detail', slug=event.item.slug) }}">
                {{ event.item.title }}
            </a>
            {% elif event.event_type_id in [5,6,7] %}
            {{ render_avatar(event.user) }}&nbsp;
            {{ captions[event.event_type_id] }}:
            <a class="feed-link"  
               href="{{ url_for('causes.action_detail', slug=event.item.cause.slug, pk=event.item.id) }}">
                {{ event.item.title }}
            </a>
            {% endif %}
            {% if event.event_type_id in [3,6] %}
            {% if current_user in event.likers %}
                {% set already_liked = True %}
            {% else %}
                {% set already_liked = False %}
            {% endif %}
            <small class="u-pull-right u-add-margin-top u-add-margin-left">
                <a id="button-like-{{ event.id }}" 
                   class="button-icon-sm button-like {% if already_liked %}button-already-liked{% endif %}">
                    <span class="oi" data-glyph="heart"></span>
                    <span class="likes-{{ event.id }}">{{ event.likers.count() }}</span>
                </a>
            </small>
        </p>
        {% endif %}
        </p>
        {% elif event.event_type_id == 8 and event.item and not event.item.deleted %}
            {% if current_user in event.likers %}
                {% set already_liked = True %}
            {% else %}
                {% set already_liked = False %}
            {% endif %}
            {{ render_post(event.item.cause, event.item, event.id, event.likers.count(), already_liked) }}
        {% elif event.event_type_id == 9 and event.item and not event.item.deleted %}
            {% if current_user in event.likers %}
                {% set already_liked = True %}
            {% else %}
                {% set already_liked = False %}
            {% endif %}
            {{ render_post_comment(event.item.post.cause, event.item, event.id, event.likers.count(), already_liked) }}
        {% endif %}
    </div>
{% endfor %}
{% endmacro %}
