<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#form-helpers)
-->

{% macro render_boolean(bool) %}
    <div class="checkbox-container u-pull-left">
        <div class="checkbox">
            {{ bool }}
            <div class="checkbox-replacement"></div>
        </div>
        {{ bool.label }}
    </div>
{% endmacro %}

{% macro render_radio(radio) %}
    {{ radio.label }}
    {% for subfield in radio %}
        <label for="{{ subfield.label.field_id }}" class="button button-choice">
            <span class="u-pull-left">{{ subfield.label.text }}</span>
            <span class="u-pull-right">{{ subfield }}</span>
        </label>
    {% endfor %}
{% endmacro %}

{% macro render_field(field, label, flags) %}
    <label for="{{ label.field_id }}">
        {{ label.text }} {% if flags.required %}*{% endif %}
        <span id="form-{{ label.field_id }}-error" class="u-pull-right">
        </span>
    </label>
    {{ field }}
{% endmacro %}

{% macro render_f(f, class) %}
    {{ render_field(f(**{'class': class}), f.label, f.flags) }}
{% endmacro %}
