<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#form-helpers)
-->

{% macro render_boolean(field) %}
    <div class="checkbox-container u-pull-left">
        <div class="checkbox">
            {{ field(**kwargs) }}
            <div class="checkbox-replacement"></div>
        </div>
        <label for="{{ field.label.field_id }}">
            {{ field.label.text }} {% if field.flags.required %}*{% endif %}
            <span id="form-{{ field.label.field_id }}-error" class="u-pull-right">
            </span>
        </label>
    </div>
{% endmacro %}

{% macro render_radio(radio) %}
    {{ radio.label }}
    {% for subfield in radio %}
        <label for="{{ subfield.label.field_id }}" class="button button-choice">
            <span class="u-pull-left">{{ subfield.label.text }}</span>
            <span class="u-pull-right">{{ subfield }}</span>
        </label>
    {% endfor %}
{% endmacro %}

{% macro render_field(field) %}
    <label for="{{ field.label.field_id }}">
        {{ field.label.text }} {% if field.flags.required %}*{% endif %}
        <span id="form-{{ field.label.field_id }}-error" class="u-pull-right">
        </span>
    </label>
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endmacro %}
