{% macro render_cause_nav(active_section, new_updates, new_comments) %}
<div class="nav-tabs-container">
    <ul class="nav nav-tabs nav-horizontal u-pull-left">
        <li {% if active_section == "story" %}class="active"{% endif %}>
            <a href="{{ url_for('causes.story', title='demo') }}">Story</a>
        </li>
        <li {% if active_section == "demands" %}class="active"{% endif %}>
            <a href="{{ url_for('causes.demands', title='demo') }}">Demands</a>
        </li>
        <li {% if active_section == "updates" %}class="active"{% endif %}>
            <a href="#">Updates <sup>{{ new_updates }}</sup></a>
        </li>
        <li {% if active_section == "comments" %}class="active"{% endif %}>
            <a href="#">Comments <sup>{{ new_comments }}</sup></a>
        </li>
    </ul>
    <ul class="nav nav-tabs nav-horizontal nav-social u-pull-right u-hide-on-mobile">
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/twitter.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/reddit.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/tumblr.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/facebook-square.svg') }}">
            </a>
        </li>
    </ul>
    <span class="u-cf"></span>
</div>
{% endmacro %}

{% macro render_styleguide_nav(active_section) %}
<div class="nav-tabs-container">
    <ul class="nav nav-tabs nav-horizontal u-pull-left">
        <li {% if active_section == "styleguide_about" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.styleguide') }}">About</a>
        </li>
        <li {% if active_section == "styleguide_grid_system" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.grid_system') }}">Grid System</a>
        </li>
    </ul>
    <span class="u-cf"></span>
</div>
{% endmacro %}
