<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating.html#navigation-helpers)
-->

{% macro render_cause_nav(active_section, new_updates, new_comments) %}
<div class="nav-tabs-container">
    <ul class="nav nav-tabs nav-horizontal u-pull-left">
        <li {% if active_section == "dashboard" %}class="active"{% endif %}>
            <a href="">Story</a>
        </li>
        <li {% if active_section == "demands" %}class="active"{% endif %}>
            <a href="">Demands</a>
        </li>
        <li {% if active_section == "updates" %}class="active"{% endif %}>
            <a href="#">Updates <sup>{{ new_updates }}</sup></a>
        </li>
        <li {% if active_section == "comments" %}class="active"{% endif %}>
            <a href="#">Comments <sup>{{ new_comments }}</sup></a>
        </li>
    </ul>
    <ul class="nav nav-tabs nav-horizontal nav-social u-pull-right u-hide-on-mobile">
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/twitter.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/reddit.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/tumblr.svg') }}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="icon-social" src="{{ url_for('static', filename='icons/facebook-square.svg') }}">
            </a>
        </li>
    </ul>
    <span class="u-cf"></span>
</div>
{% endmacro %}

{% macro render_styleguide_nav(active_section) %}
<div class="nav-tabs-container">
    <ul class="nav nav-tabs nav-horizontal u-pull-left">
        <li {% if active_section == "styleguide_about" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.styleguide') }}">About</a>
        </li>
        <li {% if active_section == "styleguide_grid_system" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.grid_system') }}">Grid System</a>
        </li>
        <li {% if active_section == "styleguide_typography" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.typography') }}">Typography</a>
        </li>
        <li {% if active_section == "styleguide_forms" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.forms') }}">Forms</a>
        </li>
        <li {% if active_section == "styleguide_tables" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.tables') }}">Tables</a>
        </li>
        <li {% if active_section == "styleguide_alerts" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.alerts') }}">Alerts</a>
        </li>
        <li {% if active_section == "styleguide_utilities" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.utilities') }}">Utilities</a>
        </li>
        <li {% if active_section == "styleguide_media_queries" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.media_queries') }}">Media Queries</a>
        </li>
        <li {% if active_section == "styleguide_templating" %}class="active"{% endif %}>
            <a href="{{ url_for('styleguide.templating') }}">Templating</a>
        </li>
    </ul>
    <span class="u-cf"></span>
</div>
{% endmacro %}

<!-- The scrollspy is populated automatically. Each section of a page that needs
to appear in this menu needs to have the following markup:
    <h3 class="scrollspy-section"><a id="some-section-id"></a>Some Section</h3>
-->
{% macro render_scrollspy() %}
<div id="scrollspy" class="u-hide-on-mobile">
    <ul id="nav-submenu" class="nav nav-stacked nav-secondary u-pull-right"></ul>
</div>
{% endmacro %}
