<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#discussion-helpers)
-->

{% from "helpers/users.html" import render_avatar %}

{% macro render_post(event_id, cause, post, likes, already_liked) %}
<div class="post">
    <p class="u-remove-margin-top u-remove-margin-bottom">
        {{ render_avatar(post.author) }}&nbsp;said:
    </p>
    <article id="post-body-{{ post.id }}">
        <span class="u-pull-left">
            {% for image in post.images.all() %}
                <a data-target="modal-post-image-{{ post.id }}">
                    <img class="post-image-thumbnail" 
                         src="{{ image.image_path|resize('128x128', fill='True') }}" />
                </a>
                <div id="modal-post-image-{{ post.id }}" class="modal modal-img">
                    <div>
                        <a class="u-pull-left" href="{{ image.image_url }}">
                            <img src="{{ url_for('static', filename='open-iconic/png/fullscreen-enter-2x.png') }}"
                                 alt="Fullscreen"/>
                        </a>
                        <a class="button-modal-close u-pull-right">
                            <img src="{{ url_for('static', filename='open-iconic/png/x-2x.png') }}" 
                                 alt="X" />
                        </a>
                        <img class="u-cf" src="{{ image.image_url }}" />
                    </div>
                </div>
            {% endfor %}
        </span>
        {% set post_body = post.body | markdown | striptags %}
        {{ post_body | truncate(280, True) }} 
        {% if post_body | length > 280 %}
            <a href="{{ url_for('posts.post_detail', slug=cause.slug, pk=post.id) }}">
                {{ _('(read more)') }}
            </a>
        {% endif %}
        <br class="u-cf">
    </article>
    <small class="u-pull-left u-add-margin-top">
        <a class="post-comment-count button-icon-sm" 
           href="{{ url_for('posts.post_detail', slug=cause.slug, pk=post.id) }}">
            <span class="oi" data-glyph="comment-square"></span>
            {{ _('%(count)s comments', count=post.comments.count()) }}
        </a>
    </small>
    <small class="u-pull-right u-add-margin-top u-add-margin-left">
        <a id="button-like-{{ event_id }}" 
           class="button-icon-sm button-like {% if already_liked %}button-already-liked{% endif %}">
            <span class="oi" data-glyph="heart"></span>
            <span class="likes-{{ event_id }}">{{ likes }}</span>
        </a>
    </small>
    {% if post.author == current_user or current_user.is_admin %}
    <small class="u-pull-right u-add-margin-top">
        <a class="button-icon-sm" 
           href="{{ url_for('posts.post_edit', slug=cause.slug, pk=post.id) }}">
            <span class="oi" data-glyph="pencil"></span>
            {{ _('Edit') }}
        </a>
    </small>
    {% endif %}
    <br class="u-cf">
</div>
{% endmacro %}

{% macro render_post_comment(event_id, cause, comment, likes, already_liked) %}
<div class="post">
    <p class="u-remove-margin-top u-remove-margin-bottom">
        {% if comment.author == comment.post.author %}
            {{ render_avatar(comment.author) }} {{ _('commented on their own post:') }}
        {% else %}
            {{ render_avatar(comment.author) }} {{ _('replied to') }} {{ render_avatar(comment.post.author) }}
        {% endif %}
    </p>
    <article id="comment-body-{{ comment.id }}">
        {{ comment.body | markdown | striptags | truncate(280, True) }} 
    </article>
    <small class="u-pull-left u-add-margin-top">
        <a class="post-comment-count button-icon-sm" 
           href="{{ url_for('posts.post_detail', slug=cause.slug, pk=comment.post_id) }}">
            <span class="oi" data-glyph="comment-square"></span>
            {{ _('View conversation') }}
        </a>
    </small>
    <small class="u-pull-right u-add-margin-top u-add-margin-left">
        <a id="button-like-{{ event_id }}" 
           class="button-icon-sm button-like {% if already_liked %}button-already-liked{% endif %}">
            <span class="oi" data-glyph="heart"></span>
            <span class="likes-{{ event_id }}">{{ likes }}</span>
        </a>
    </small>
    <br class="u-cf">
</div>
{% endmacro %}

{% macro render_post_list(cause) %}
{% if cause.posts %}
    {% for post in cause.posts.all() %}
        {% if loop.first  %}<div class="row">{% endif %}
        {{ render_post(cause, post) }}
        {% if loop.index is divisibleby(3) and not loop.last %}</div><div class="row">{% endif %}
        {% if loop.last %}</div>{% endif %}
    {% endfor %}
{% else %}
    <div class="four columns offset-by-four">
        <p>
            <strong>
                {{ _('No posts!') }}
            </strong>
            <a class="button u-add-margin-left"
                href="{{ url_for('posts.post_add', slug=cause.slug) }}">
                {{ _('Start the conversation') }}
            </a>
        </p>
    </div>
{% endif %}
{% endmacro %}
