<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#discussion-helpers)
-->

{% from "helpers/users.html" import render_avatar %}

{% macro render_post(cause, post) %}
<div class="post four columns">
    <h4>
        <a href="{{ url_for('posts.post_detail', slug=cause.slug, pk=post.id) }}">
            {{ post.title }}
        </a>
        {% if post.author == current_user %}
        <a href="{{ url_for('posts.post_edit', slug=cause.slug, pk=post.id) }}">
            {{ _('(edit)') }}
        </a>
        {% endif %}
    </h4>
    <article>
        {{ post.body | truncate(120) | markdown }}
        <div class="fade"></div>
    </article>
    <p>
        {{ render_avatar(post.author) }}
        <em>{{ post.created_on.strftime('%b. %d, %Y') }}</em>
    </p>
    <div>
        <img class="icon" src="{{ url_for('static', filename='open-iconic/png/comment-square-2x.png') }}"> 
        {{ _('%(count)s comments', count=post.comments.count()) }}
        <a class="u-pull-right" href="{{ url_for('posts.post_detail', slug=cause.slug, pk=post.id) }}">
            {{ _('Reply') }}
        </a>
    </div>
</div>
{% endmacro %}

{% macro render_post_list(cause) %}
{% if cause.posts %}
    {% for post in cause.posts.all() %}
        {% if loop.first  %}<div class="row">{% endif %}
        {{ render_post(cause, post) }}
        {% if loop.index is divisibleby(3) and not loop.last %}</div><div class="row">{% endif %}
        {% if loop.last %}</div>{% endif %}
    {% endfor %}
{% else %}
    <div class="four columns offset-by-four">
        <p>
            <strong>
                {{ _('No posts!') }}
            </strong>
            <a class="button u-add-margin-left"
                href="{{ url_for('posts.post_add', slug=cause.slug) }}">
                {{ _('Start the conversation') }}
            </a>
        </p>
    </div>
{% endif %}
{% endmacro %}
