<!-- If you add another macro to this file or significatly edit an existing one, 
dont' forget to add a description of your changes to the appropriate styleguide
section (app/templates/styleguide/templating#discussion-helpers)
-->

{% macro render_post_list(cause) %}
{% for post in cause.posts.all() %}
<div class="post four columns">
    <img class="icon-comment u-pull-left" src="{{ url_for('static', filename='open-iconic/png/pulse-2x.png') }}"> 
    <h4>
        <a href="{{ url_for('posts.post_detail', slug=cause.slug, pk=post.id) }}">
            {{ post.title }}
        </a>
        {% if post.author == current_user %}
        <a href="{{ url_for('posts.post_edit', slug=cause.slug, pk=post.id) }}">
            (edit)
        </a>
        {% endif %}
    </h4>
    <article>{{ post.body|markdown }}</article>
    <p class="u-pull-right">
        <a href="{{ url_for('users.user', nickname=post.author.nickname) }}" 
            class="avatar-sm" 
            title="{{ post.author.full_name }}">{{ post.author.initials }}</a>
        <em>{{ post.created_on.strftime('%b. %d, %Y') }}</em>
    </p>
    <p>
        <img class="icon" src="{{ url_for('static', filename='open-iconic/png/comment-square-2x.png') }}"> 
        {{ post.comments.count() }}
        comments. 
        <a href="{{ url_for('posts.comment_add', slug=cause.slug, pk=post.id) }}">
            Reply
        </a>
    </p>
</div>
{% endfor %}
{% endmacro %}
