{% macro render_standing(user) %}
    {% if user.standing == 1 %}
        <code class="good">Good</code>
    {% elif user.standing == 0 %}
        <code class="bad">Bad</code>
    {% else %}
        <code class="unknown">Unknown"</code>
    {% endif %}
{% endmacro %}

{% macro render_x_number(user) %}
    <code>X{{ user.x_number }}</code>
{% endmacro %}

{% macro render_iu_number(user) %}
    <code>IU{{ user.iu_number }}</code>
{% endmacro %}

{% macro render_last_login(user) %}
    {% if user.last_login %}
        <code>{{ user.last_login.strftime('%Y-%m-%d %H:%m') }}</code>
    {% else %}
        <code>Never</code>
    {% endif %}
{% endmacro %}

{% macro render_member_info(user, caption) %}
<table class="u-full-width">
    {% if caption %}
        <caption>{{ caption }}</caption>
    {% endif %}
    <tbody>
        <tr>
            <th class="u-half-width">Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th class="u-half-width">Phone</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th class="u-half-width">Zip</th>
            <td>{{ user.zip }}</td>
        </tr>
        <tr>
            <th class="u-half-width">Employer</th>
            <td>{{ user.employer }}</td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro render_dues_info(user, dues_amount, delegate_name, caption) %}
<table class="u-full-width">
    {% if caption %}
        <caption>{{ caption }}</caption>
    {% endif %}
    <tbody>
        <tr>
            <th class="u-half-width">Dues plan</th>
            <td>{{ dues_amount }}</td>
        </tr>
        <tr>
            <th class="u-half-width">Last paid</th>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th class="u-half-width">Delegate number</th>
            <td>{{ user.assigned_delegate.number }}</td>
        </tr>
        <tr>
            <th class="u-half-width">Delegate name</th>
            <td><a href="{{ url_for('users.user', x_number=user.assigned_delegate.x_number) }}">{{ delegate_name }}</a></td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro render_description(user, caption) %}
    <table class="u-full-width">
        {% if caption %}
            <caption>{{ caption }}
        {% endif %}
        <tbody>
            <tr>
                <td>{{ user.description }}</td>
            </tr>
        </tbody>
    </table>
{% endmacro %}
