{% extends "base.html" %}
{% set active_page = "user_edit" %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/forms.html" import render_field, render_boolean %}
<div class="full-width-container">
<form id="edit" name="edit" action="" method="post">
    <div class="row u-add-margin-top">
        <div class="eight columns">
            <h1>{{ user.nickname }}</h1>
        </div>
        <div class="four columns u-text-right">
            <a href="{{ url_for('users.user', nickname=user.nickname) }}" class="button u-add-margin-top">Back</a>
            <input type="submit" class="button-primary" value="Save">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="six columns">
            <fieldset>
                <legend><h3>Profile</h3></legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.nickname, class='u-full-width') }}
                {{ render_field(form.full_name, class='u-full-width') }}
                {{ render_field(form.email,
                    class='u-full-width',
                    data_validation='email',
                    data_validation_error_msg_container='#form-email-container',
                    data_validation_error_msg='Incorrect'
                ) }}
                {{ render_field(form.phone, class='u-full-width') }}
                {{ render_field(form.zip, 
                    class='u-full-width',
                    data_validation='custom',
                    data_validation_regexp='^[0-9]{5}$',
                    data_validation_error_msg_container='#form-zip-container',
                    data_validation_error_msg='Incorrect'
                ) }}
                {{ render_field(form.employer, class='u-full-width') }}
                {{ render_field(form.description, class='u-full-width') }}
            </fieldset>
        </div>
        <div class="six columns">
            <fieldset>
                <legend><h3>Password</h3></legend>
                {{ render_field(form.current_password, class='u-full-width') }}
                {{ render_field(form.new_password, class='u-full-width') }}
                {{ render_field(form.verify_password, class='u-full-width') }}
            </fieldset>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="twelve columns u-text-center">
            <a href="{{ url_for('users.delete', nickname=user.nickname) }}" class="button danger">Delete Account</a>
        </div>
    </div>
</form>
</div>
{% endblock %}
