{% extends "base.html" %}
{% set active_page = "user_edit" %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/forms.html" import render_field, render_boolean %}

<form id="edit" name="edit" action="" method="post">
    <div class="row">
        <div class="eight columns">
            <h1>{{ user.nickname }}</h1>
        </div>
        <div class="four columns u-text-right">
            <a href="{{ url_for('users.user', nickname=user.nickname) }}" class="button u-add-margin-top">Cancel</a>
            <input type="submit" class="button-primary" value="Save">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <fieldset>
                <legend><h3>Profile</h3></legend>
                {{ form.hidden_tag() }}
                {{ render_field(
                    form.nickname(**{
                        'class':'u-full-width',
                    }),
                    form.nickname.label,
                    form.nickname.flags
                   )
                }}
                {{ render_field(
                    form.full_name(**{
                        'class':'u-full-width',
                    }),
                    form.full_name.label,
                    form.full_name.flags
                   )
                }}
                {{ render_field(
                    form.email(**{
                        'class':'u-full-width',
                        'data-validation':'email',
                        'data-validation-error-msg-container':'#form-email-container',
                        'data-validation-error-msg':'Incorrect'
                    }),
                    form.email.label,
                    form.email.flags
                   )
                }}
                {{ render_field(
                    form.phone(**{
                        'class':'u-full-width',
                    }),
                    form.phone.label,
                    form.phone.flags
                   )
                }}
                {{ render_field(
                    form.zip(**{
                        'class':'u-full-width',
                    }),
                    form.zip.label,
                    form.zip.flags
                   )
                }}
                {{ render_field(
                    form.employer(**{
                        'class':'u-full-width',
                    }),
                    form.employer.label,
                    form.employer.flags
                   )
                }}
                {{ render_field(
                    form.description(**{
                        'class':'u-full-width',
                    }),
                    form.description.label,
                    form.description.flags
                   )
                }}
            </fieldset>
        </div>
        <div class="six columns">
            <fieldset>
                <legend><h3>Password</h3></legend>
                {{ render_field(form.current_password(**{
                                    'class':'u-full-width'
                                }), 
                                form.current_password.label, 
                                form.current_password.flags) }}
                {{ render_field(form.new_password(**{
                                    'class':'u-full-width'
                                }), 
                                form.new_password.label, 
                                form.new_password.flags) }}
                {{ render_field(form.verify_password(**{
                                    'class':'u-full-width'
                                }), 
                                form.verify_password.label, 
                                form.verify_password.flags) }}
            </fieldset>
            <fieldset>
                <legend><h3>Privacy</h3></legend>
                <div class="row">
                    <div class="twelve columns">
                        {{ render_boolean(form.private_full_name) }}
                    </div>
                    <div class="twelve columns">
                        {# render_boolean(form.private_email) #}
                    </div>
                    <div class="twelve columns">
                        {# render_boolean(form.private_phone) #}
                    </div>
                    <div class="twelve columns">
                        {# render_boolean(form.private_zip) #}
                    </div>
                    <div class="twelve columns">
                        {# render_boolean(form.private_employer) #}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
{% endblock %}
