{% extends "base.html" %}
{% set active_page = "user" %}

{% block title %}{{ user.nickname }} - {{ super() }}{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

{% block content %}
{% from "helpers/causes.html" import render_log with context %}
{% from "helpers/modals.html" import render_modal %}
{% from "helpers/users.html" import render_avatar %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="three columns">
            <span>
                {{ render_avatar(user) }} 
                <strong>{{ user.nickname }}</strong> 
                {% if user.is_admin %}<sup><small>Admin</small></sup>{% endif %}
            </span>
            {% if user.full_name %}
                <h5 class="u-remove-margin-bottom">{{ user.full_name }}</h5>
            {% endif %}
            {% if current_user == user or current_user.is_admin %}
                <div class="u-add-margin-top">
                    <small>Other users won't see the details below</small>
                </div>
                {% if user.email %}<div>{{ user.email }}</div>{% endif %}
                {% if user.phone %}<div>{{ user.phone }}</div>{% endif %}
                {% if user.zip %}<div>{{ user.zip }}</div>{% endif %}
            {% endif %}
            {% if current_user == user or current_user.is_admin %}
                <a href="{{ url_for('users.edit', nickname=user.nickname) }}" class="button u-full-width u-add-margin-top">Edit</a>
            {% endif %}
        </div>
        <div class="six columns">
            <ul class="no-bullets">
            {% if log %}
                {{ render_log(log.items) }} 
            {% else %}
                <small>
                    <strong>There's nothing to show here yet.</strong><br>
                    {% if current_user == user %}
                        Start a discussion on one of the causes you're
                        supporting so that others can see it here.
                    {% else %}
                        When this user participates in a discussion, you'll
                        see it here!
                    {% endif %}
                </small>
            {% endif %}
            </ul>
        </div>
        <div class="three columns">
            <h5>Created {{ user.created.count() }} cause{% if user.created.count() != 1 %}s{% endif %}</h5>
            {% if user.created.count() > 0 %}
                <ul class="no-bullets">
                {% for cause in user.created %}
                    <li><a href="/cause/{{ cause.slug }}">{{ cause.title }}</a></li>
                {% endfor %}
                </ul>
                <hr>
            {% endif %}
            <h5>Supporting {{ user.supports.distinct().count() }} cause{% if user.supports.distinct().count() != 1 %}s{% endif %}</h5>
            {% if user.supports.distinct().count() > 0 %}
                <ul class="no-bullets">
                {% for cause in user.supports %}
                    <li><a href="/cause/{{ cause.slug }}">{{ cause.title }}</a></li>
                {% endfor %}
                </ul>
                <hr>
            {% endif %}
            <h5>Took {{ user.actions.count() }} action{% if user.actions.count() != 1 %}s{% endif %}</h5>
            {% if user.actions.count() > 0 %}
                <ul class="no-bullets">
                {% for action in user.actions %}
                    <li>
                        <a href="{{ url_for('causes.view_single_action', slug=action.cause.slug, pk=action.id) }}">
                            {{ action.title }}
                        </a>
                        <small>
                            from
                            <a href="{{ url_for('causes.cause_detail', slug=action.cause.slug) }}">{{ action.cause.title }}</a>
                        </small>
                    </li>
                {% endfor %}    
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
