{% extends "base.html" %}
{% set active_page = "user" %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/users.html" import render_avatar %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="three columns">
            <span>
                {{ render_avatar(user) }} 
                <strong>{{ user.nickname }}</strong> 
                {% if user.is_admin %} | <small>Admin</small>{% endif %}
            </span>
            {% if current_user == user or current_user.is_admin %}
                <a href="{{ url_for('users.edit', nickname=user.nickname) }}" class="button u-pull-right u-remove-margin-top">Edit</a>
            {% endif %}
            <h5 class="u-remove-margin-bottom">{{ user.full_name }}</h5>
            <div>{{ user.email }}</div>
            <div>{{ user.phone }}</div>
            <div>{{ user.zip }}</div>
            <hr>
            <h5>Supporting {{ user.supports.count() }} causes</h5>
            <ul>
            {% for cause in user.supports %}
                <li>{{ cause.title }}</li>
            {% endfor %}
            </ul>
            <hr>
            <h5>Following</h5>
        </div>
        <div class="six columns">
            <ul>
            {% for post in feed[0] %}
                <li><strong>{{ post.title }}</strong> by <em>{{ post.author.nickname }}</em><br>{{ post.body }}</li>
            {% else %}
                <li>
                    <em>There's nothing to show here yet!
                    <a href="{{ url_for('index') }}">Support a cause</a> to see
                    a feed of recent discussion on this page.</em>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="three columns">
            <h5>Suggested</h5>
            <p><strong>FIXME add content or remove</strong></p>
        </div>
    </div>

</div>
{% endblock %}
