{% extends "base.html" %}
{% set active_page = "user" %}

{% block title %}{{ user.nickname }} - {{ super() }}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/users.html" import render_avatar %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="three columns">
            <span>
                {{ render_avatar(user) }} 
                <strong>{{ user.nickname }}</strong> 
                {% if user.is_admin %} | <small>Admin</small>{% endif %}
            </span>
            {% if user.full_name %}
                <h5 class="u-remove-margin-bottom">{{ user.full_name }}</h5>
            {% endif %}
            {% if current_user == user or current_user.is_admin %}
                <div class="u-add-margin-top">
                    <small>Other users won't see these details</small>
                </div>
                {% if user.email %}<div>{{ user.email }}</div>{% endif %}
                {% if user.phone %}<div>{{ user.phone }}</div>{% endif %}
                {% if user.zip %}<div>{{ user.zip }}</div>{% endif %}
            {% endif %}
            {% if current_user == user or current_user.is_admin %}
                <a href="{{ url_for('users.edit', nickname=user.nickname) }}" class="button u-full-width u-add-margin-top">Edit</a>
            {% endif %}
        </div>
        <div class="six columns">
            <ul class="no-bullets">
            {% for post in feed %}
                <li class="post">
                    {% if post.title %}
                    <small>
                        Posted to 
                        <a href="{{ url_for('causes.cause_detail', slug=post.cause.slug) }}">{{ post.cause.title }}</a>
                        on 
                        {{ post.created_on.strftime('%b. %d, %Y') }}
                    </small>
                    <h5 class="u-remove-margin-bottom">
                        <a href="{{ url_for('posts.post_detail', slug=post.cause.slug, pk=post.pk) }} ">
                            {{ post.title }}
                        </a>
                    </h5>
                    <p class="u-remove-margin-top u-remove-margin-bottom">
                        {{ post.body }}
                    </p>
                    {% else %}
                    <small>
                        Replied to 
                        <a href="{{ url_for('posts.post_detail', slug=post.post.slug, pk=post.post.pk) }}">
                            {{ post.post.title }}
                        </a>
                        by 
                        <a href="{{ url_for('users.user', nickname=post.author.nickname) }}">
                            {{ post.author.nickname }}
                        </a>
                        from 
                        <a href="{{ url_for('causes.cause_detail', slug=post.post.cause.slug) }}">
                            {{ post.post.cause.title }}
                        </a>
                        on 
                        {{ post.created_on.strftime('%b. %d, %Y') }}
                    </small>
                    <p class="u-remove-margin-top u-remove-margin-bottom">
                        {{ post.body }}
                    </p>
                    {% endif %}
                </li>
            {% else %}
                <small>
                    <strong>There's nothing to show here yet.</strong><br>
                    {% if current_user == user %}
                        Start a discussion on one of the causes you're
                        supporting so that others can see it here.
                    {% else %}
                        When this user participates in a discussion, you'll
                        see it here!
                    {% endif %}
                </small>
            {% endfor %}
            </ul>
        </div>
        <div class="three columns">
            <h5>Created {{ user.created.count() }} causes</h5>
            <ul>
            {% for cause in user.created %}
                <li><a href="/cause/{{ cause.slug }}">{{ cause.title }}</a></li>
            {% endfor %}
            </ul>
            <hr>
            <h5>Supporting {{ user.supports.distinct().count() }} causes</h5>
            <ul>
            {% for cause in user.supports %}
                <li><a href="/cause/{{ cause.slug }}">{{ cause.title }}</a></li>
            {% endfor %}
            </ul>
            <hr>
            <h5>Took {{ user.actions.count() }} actions</h5>
            <ul>
            {% for action in user.actions %}
                <li>
                    <strong>{{ action.title }}</strong> <em>{{ action.cause.title }}</em>
                    <br>
                    {{ action.summary }}
                </li>
            {% endfor %}    
            </ul>
        </div>
    </div>
</div>
{% endblock %}
