{% extends "base.html" %}
{% set active_page = "login" %}

{% block title %}Login - {{ super() }}{% endblock title %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        form : '#login-form',
        errorMessageClass : 'danger'
    });
});
</script>   
{% endblock %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <div class="flash warning u-remove-margin-top u-cf" role="alert">
            <strong>Need to protect your privacy?</strong> Use a pseudonym when you
            <a href="{{ url_for('.signup') }}">sign up</a>, and don't log
            in with a social media account linked to your real identity.
            <a class="flash-close"><span class="oi" data-glyph="x"></span></a>
        </div>
    </div>
</div>
<div class="container u-add-margin-top">
    <div class="row">
    </div>
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="login-form" name="login-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.login,
                        class='u-full-width',
                        data_validation='required', 
                        data_validation_error_msg_container='#form-login-error',
                        data_validation_error_msg='Required',
                        tabindex='1'
                    ) }}
                    {{ render_field(
                        form.password,
                        class='u-full-width',
                        data_validation='required',
                        data_validation_error_msg_container='#form-password-error',
                        data_validation_error_msg='Required',
                        tabindex='2'
                    ) }}
                    {{ render_boolean(form.remember) }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="three columns offset-by-three">
                <fieldset>
                    <input id="login" type="submit" value="{{ _('Log in') }}"
                        class="button button-primary u-mobile-fixed-bottom" tabindex="3">
                </fieldset>
            </div>
            <div class="three columns">
                <small class="small-block">
                    {{ _('By accessing and using this service, you agree to the') }}
                    <a href="/terms_of_service">{{ _('terms of service') }}</a>.
                </small>
            </div>
        </div>
        <div class="row">
            <small class="six columns offset-by-three flash">
                <strong>Forgot your password?</strong> E-mail us for assistance:
                <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
            </small>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="one-third column">
            <a href="{{ url_for('twitter.login') }}" class="button u-full-width">
                {{ _('Log in with Twitter') }}
            </a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('google.login') }}" class="button u-full-width">
                {{ _('Log in with Google') }}
            </a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('facebook.login') }}" class="button u-full-width">
                {{ _('Log in with Facebook') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
