{% extends "base.html" %}
{% set active_page = "login" %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        form : '#login',
        errorMessageClass : 'danger'
    });
});
</script>   
{% endblock %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="login" name="login" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.email(**{
                            'class':'u-full-width',
                            'data-validation':'email', 
                            'data-validation-error-msg-container':'#form-email-error',
                            'data-validation-error-msg':'Incorrect'
                        }), 
                        form.email.label,
                        form.email.flags
                       ) 
                    }}
                    {{ render_field(
                        form.password(**{
                            'class':'u-full-width',
                            'data-validation':'required',
                            'data-validation-error-msg-container':'#form-password-error',
                            'data-validation-error-msg':'Required'}),
                        form.password.label,
                        form.password.flags
                       ) 
                    }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <div class="three columns offset-by-three">
                    <input id="login" class="button button-primary u-mobile-fixed-bottom" type="submit" value="Log In">
                </div>
                <div class="three columns">
                    {{ render_boolean(form.remember) }}
                </div>
            </fieldset>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="one-third column">
            <a href="{{ url_for('twitter.login') }}" class="button u-full-width">Log In with Twitter</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('google.login') }}" class="button u-full-width">Log In with Google</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('facebook.login') }}" class="button
                u-full-width">Log In with Facebook</a>
        </div>
    </div>
</div>
{% endblock %}
