{% extends "base.html" %}
{% set active_page = "login" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        form : '#login',
        errorMessageClass : 'danger'
    });
});
</script>   
{% endblock %}

{% block content %}
<div class="container u-add-margin-top">
    <div class="row">
        <div class="six columns offset-by-three flash warning">
            <strong>Beta software &ndash; beware!</strong> We're still busy
            testing and securing Solid. To be safe, consider 
            <a href="{{ url_for('users.signup') }}">signing up by e-mail</a> 
            (and using a pseudonym) instead of with social media.
        </div>
    </div>
    <div class="row">
        <div class="six columns offset-by-three help-block">
            {{ _('Don\'t have an account?') }}
            <a href="{{ url_for('users.signup') }}" class="button button-primary u-add-margin-left">Sign up</a>
        </div>
    </div>
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="login" name="login" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.login,
                        class='u-full-width',
                        data_validation='required', 
                        data_validation_error_msg_container='#form-login-error',
                        data_validation_error_msg='Required'
                    ) }}
                    {{ render_field(
                        form.password,
                        class='u-full-width',
                        data_validation='required',
                        data_validation_error_msg_container='#form-password-error',
                        data_validation_error_msg='Required'
                    ) }}
                    {{ render_boolean(form.remember) }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="three columns offset-by-three">
                <fieldset>
                    <input id="login" type="submit" value="{{ _('Log In') }}"
                        class="button button-primary u-mobile-fixed-bottom" >
                </fieldset>
            </div>
            <div class="three columns">
                <small class="small-block">
                    {{ _('By accessing and using this service, you agree to the') }}
                    <a href="/terms_of_service">{{ _('terms of service') }}</a>.
                </small>
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three flash">
                <strong>Forgot your password?</strong> E-mail us for assistance,
                <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="one-third column">
            <a href="{{ url_for('twitter.login') }}" class="button u-full-width">
                {{ _('Log In with Twitter') }}
            </a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('google.login') }}" class="button u-full-width">
                {{ _('Log In with Google') }}
            </a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('facebook.login') }}" class="button u-full-width">
                {{ _('Log In with Facebook') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
