{% extends "base.html" %}

{% block title %}Password reset - {{ super() }}{% endblock title %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        modules : 'security',
        form : '#reset-password-submit-form',
        errorMessageClass : 'danger',
        onModulesLoaded : function() {
            var optionalConfig = {
                bad    : function() {
                            $('.strength-meter').attr('style', '');
                            $('.strength-meter').attr('class', 'strength-meter');
                            $('.strength-meter').addClass('bad');
                         },
                weak   : function() {
                            $('.strength-meter').attr('style', '');
                            $('.strength-meter').attr('class', 'strength-meter');
                            $('.strength-meter').addClass('weak');
                         },
                good   : function() {
                            $('.strength-meter').attr('style', '');
                            $('.strength-meter').attr('class', 'strength-meter');
                            $('.strength-meter').addClass('warning');
                         },
                strong : function() {
                            $('.strength-meter').attr('style', '');
                            $('.strength-meter').attr('class', 'strength-meter');
                            $('.strength-meter').addClass('good');
                         }
            };
            $('input[name="password"]').displayPasswordStrength(optionalConfig);
        }
    });
    $('#password').bind('keyup', function () {
        $(this).css('width', '85%');
    });
});
</script>   
{% endblock %}


{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field %}
    <form id="reset-password-submit-form" name="password-reset-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="six columns offset-by-three">
                <!-- Password strength checker needs the password field to be
                     inside a container, so the strenth meter shows up next 
                     to the input field -->
                <span>
                {{ render_field(
                    form.password,
                    class='u-full-width',
                    data_validation='strength',
                    data_validation_strength='2',
                    data_validation_error_msg_container='#form-password-error'
                ) }}
                </span>
                {{ render_field(
                    form.confirm_password,
                    class='u-full-width',
                    data_validation='confirmation',
                    data_validation_confirm='password',
                    data_validation_error_msg_container='#form-verify_password-error',
                    data_validation_error_msg='Doesn\'t match password'
                ) }}
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <fieldset>
                    <input id="login" type="submit" value="{{ _('Reset Password') }}"
                        class="button button-primary u-mobile-fixed-bottom" tabindex="2">
                </fieldset>
            </div>
        </div>
    </form> 
</div>
{% endblock %}
