{% extends "base.html" %}

{% block title %}Password reset - {{ super() }}{% endblock title %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        form : '#reset-password-form',
        errorMessageClass : 'danger'
    });
});
</script>   
{% endblock %}


{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field %}
    <form id="reset-password-form" name="password-reset-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="six columns offset-by-three">
                {{ render_field(
                    form.email,
                    class='u-full-width',
                    data_validation='email', 
                    data_validation_error_msg_container='#form-email-error',
                    data_validation_error_msg='Not a valid email address',
                    tabindex='1'
                ) }}
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <fieldset>
                    <input id="login" type="submit" value="{{ _('Send password reset link') }}"
                        class="button button-primary u-mobile-fixed-bottom" tabindex="2">
                </fieldset>
            </div>
        </div>
    </form> 
</div>
{% endblock %}
