{% extends "base.html" %}
{% set active_page = "signup" %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        modules : 'security',
        form : '#signup',
        errorMessageClass : 'danger'
    });
    $(document).ready(function() {
        $('#email').change(function(e) {
            if ($('#nickname').val() == '') {
                $('#nickname').val($(e.target).val().split('@')[0]);
            }
        });
    });
});
</script>   
{% endblock %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <div class="flash warning u-remove-margin-top u-cf" role="alert">
            <strong>Need to protect your privacy?</strong> Use a pseudonym and don't log in with a social media account linked to your real identity.
        </div>
    </div>
</div>
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="signup" name="signup" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.email,
                        class='u-full-width',
                        data_validation='email', 
                        data_validation_error_msg_container='#form-email-error',
                        data_validation_error_msg='Not a valid email address',
                        tabindex='1'
                    ) }}
                    {{ render_field(
                        form.nickname,
                        class='u-full-width',
                        data_validation='alphanumeric',
                        data_validation_allowing='-_',
                        data_validation_error_msg_container='#form-nickname-error',
                        data_validation_error_msg='Only A-Z, 0-9, - and _ allowed',
                        tabindex='2'
                    ) }}
                    {{ render_field(
                        form.full_name, 
                        class='u-full-width',
                        data_validation_optional='true',
                        tabindex='3'
                    ) }}
                    {{ render_field(
                        form.password,
                        class='u-full-width',
                        data_validation='required',
                        data_validation_error_msg_container='#form-password-error',
                        data_validation_error_msg='Required',
                        tabindex='4'
                    ) }}
                    {{ render_field(
                        form.verify_password,
                        class='u-full-width',
                        data_validation='confirmation',
                        data_validation_confirm='password',
                        data_validation_error_msg_container='#form-verify_password-error',
                        data_validation_error_msg='Doesn\'t match password',
                        tabindex='5'
                    ) }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="three columns offset-by-three">
                <fieldset>
                    <input id="login" class="button button-primary u-full-width u-mobile-fixed-bottom" type="submit" value="Sign Up" tabindex="6">
                </fieldset>
            </div>
            <div class="three columns">
                <small class="small-block">
                    By accessing and using this service, you agree to the <a href="/terms_of_service">terms of service</a>.
                </small>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="one-third column">
            <a href="{{ url_for('twitter.login') }}" class="button u-full-width">Sign up with Twitter</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('google.login') }}" class="button u-full-width">Sign up with Google</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('facebook.login') }}" class="button
                u-full-width">Sign up with Facebook</a>
        </div>
    </div>
</div>
{% endblock %}
