{% extends "base.html" %}
{% set active_page = "login" %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='jQuery-Form-Validator/form-validator/jquery.form-validator.min.js') }}"></script>
<script>
$(document).ready(function() {
    $.validate({
        modules : 'security',
        form : '#signup',
        errorMessageClass : 'danger'
    });
    $(document).ready(function() {
        $('#email').change(function(e) {
            if ($('#nickname').val() == '') {
                $('#nickname').val($(e.target).val().split('@')[0]);
            }
        });
    });
});
</script>   
{% endblock %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="signup" name="signup" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.email(**{
                            'class':'u-full-width',
                            'data-validation':'email', 
                            'data-validation-error-msg-container':'#form-email-error',
                            'data-validation-error-msg':'Not a valid email address'
                        }), 
                        form.email.label,
                        form.email.flags
                        ) 
                    }}
                    {{ render_field(
                        form.nickname(**{
                            'class':'u-full-width',
                            'data-validation':'alphanumeric',
                            'data-validation-allowing':'-_',
                            'data-validation-error-msg-container':'#form-nickname-error',
                            'data-validation-error-msg':'Must be alphanumeric'}),
                        form.nickname.label,
                        form.nickname.flags
                        )
                    }}
                    {{ render_field(
                        form.full_name(**{
                            'class':'u-full-width'
                        }),
                        form.full_name.label,
                        form.full_name.flags
                        )
                    }}
                    {{ render_field(
                        form.password(**{
                            'class':'u-full-width',
                            'data-validation':'required',
                            'data-validation-error-msg-container':'#form-password-error',
                            'data-validation-error-msg':'Required'}),
                        form.password.label,
                        form.password.flags
                        ) 
                    }}
                    {{ render_field(
                        form.verify_password(**{
                            'class':'u-full-width',
                            'data-validation':'confirmation',
                            'data-validation-confirm':'password',
                            'data-validation-error-msg-container':'#form-verify_password-error',
                            'data-validation-error-msg':'Must match the password field'}),
                        form.verify_password.label,
                        form.verify_password.flags
                        )
                    }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="three columns offset-by-three">
                <fieldset>
                    <input id="login" class="button button-primary u-full-width u-mobile-fixed-bottom" type="submit" value="Sign Up">
                </fieldset>
            </div>
            <div class="three columns">
                <small class="small-block">
                    By accessing and using this service, you agree to the <a href="/terms_of_service">terms of service</a>.
                </small>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="one-third column">
            <a href="{{ url_for('twitter.login') }}" class="button u-full-width">Sign up with Twitter</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('google.login') }}" class="button u-full-width">Sign up with Google</a>
        </div>
        <div class="one-third column">
            <a href="{{ url_for('facebook.login') }}" class="button
                u-full-width">Sign up with Facebook</a>
        </div>
    </div>
</div>
{% endblock %}
