/*
 * v0.2.0
 * Copyright 2016, Pavel Mamontov 
 * pavelmamontov.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 2016-02-17
 */


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Color Scheme
- General
- Links
- Alerts 
- Images
- Layout 
- Navigation
- Modals
- Input
- Dropdown
- Utilities
- Lists
- Blockquotes
- Code
- Animations
*/

/* Color Scheme 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
 * Base.........: #ff9900
 * Accent.......: #3299bb
 * Accent2......: #1eaeda
 * Black........: #161310
 * Dark Gray....: #524535
 * Light Gray...: #fbfaf9
 * Neutral Gray.: #e5e5e5
 * White........: #ffffff
 * Success FG...: #274d28
 * Success BG...: #326334
 * Warning FG...: #604b29
 * Warning BG...: #775d33
 * Error FG.....: #653a28
 * Error BG.....: #7d3432
 */


/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
    height: 100%;
    text-rendering: optimizeLegibility;
}
body {
    font-size: 1.6rem;
    color: #161310;
    padding-top: 6.5rem;
}
hr {
    border-color: #ff9900;
}
small {
    color: #524535;
}
small.small-block {
    display: block;
    line-height: 1.4;
}

/* Links 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #3299bb;
    text-decoration: none;
}
a:hover {
    color: #1eaeda;
    text-decoration: underline;
}
a.feed-link {
    margin-left: 2.7em;
    display: block;
    cursor: pointer;
}

/* Alerts 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flash {
    border: 1px solid;
    /* border-radius: 4px; */
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    animation: slide-down 0.3s cubic-bezier(.22,.61,.36,1) forwards;
    border-color: #e5e5e5;
    color: #524535;
}
.label,
.help-block {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.primary {
    background-color: #3299bb;
    border-color: #3299bb;
}
.success,
.good {
    color: #fff;
    background-color: #274D28;
    border-color: #274D28;
}
.warning,
.unknown {
    color: #fff;
    background-color: #604b29;
    border-color: #604b29;   
}
.danger,
.bad,
.error {
    color: #fff;
    background-color: #652A28;
    border-color: #652A28;
}


/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.img-circle {
    border-radius: 50%; 
} 
.avatar-sm {
    border-radius: 33%;
    display:inline-block;
    vertical-align: middle;
    width:32px; 
    height:32px; 
    background-color:#ccc; 
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 2.1em;
    text-decoration: none;
    font-size: 1.6rem;
    margin-bottom: 0.3em;
    transition-duration: 0.1s;
    transition-property: border-radius;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: border-radius;
}
.avatar-sm:hover {
    text-decoration: none;
    color: #fff;
    border-radius: 0;
}
.see-all {
    display: block;
    text-align: right;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.icon-social {
    width:2em;
    height:2em;
}
.icon-demand {
    height: 32px;
    margin-top: 7px;
}
.icon-comment {
    height: 16px;
    margin-top: 12px;
    margin-right: 14px;
}

    
/* General Layout 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h2 span,
h3 span{
    font-size: 50%;
}

.full-width-container {
    padding: 0 2rem;
}
@media (min-width: 750px) {
    .full-width-container {
        padding: 0 9rem;
    }
}

.progress {
    display: block;
    height: 6.5rem;
    border-bottom: 2px solid #33C3F0;
    transition: width 0.5s ease-out;
}
.content {
    min-height: 65%;
}
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Header 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    display: block;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 6.5rem;
    background: #fbfaf9;
    border-bottom: 1px solid #ff9900;
}
.header .logo {
    width: 5rem;
    height: 5rem;
    margin: 0.7rem 1rem 0 0;
}
.header .button {
    margin-top: 1.5rem;
}
.header .title {
    margin-top: 1.6rem;
}
@media (min-width: 550px) {
    .header .title {
        margin-top: 1.2rem;
    }
}
.header .user {
    margin: 1.3em 1em 0 0;
    float: right;
}
.header .user a {
    font-weight: bold;
    text-decoration: none;
}

/* Hero Section 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    background-size: cover;
}
.hero-heading, 
.hero-content {
    margin: 1rem 2rem 2rem 2rem;
}
.hero-heading {
    font-weight: 600;
}
.hero-content {
    font-weight: 400;
}
.hero-button {
    margin: 0 2rem 4rem 2rem;
}
.hero-aside {
    margin-top: -5px;
    line-height: 1.4em;
}
.glass {
    position: relative;
    background-color: #fff;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 0 10px #000;
    max-width: 900px;
}
.glass::before {
    width: 100%;
    height: 100%;
    margin-left: -50%;
    overflow: hidden;
    z-index: -1;
    display: inline-block;
    position: absolute;
    content: ' ';
    /* Disabled until blur works in Firefox */
    /*
    -webkit-filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: url('#blur');
    filter: blur(5px);
    opacity: 0.5;
    */
    opacity: 0.2;
}
.glass span {
    font-style: italic;
    display: block;
    margin: -1.5em 0 1em 0;
}
@media (min-width: 550px) {
    .hero {
        padding-bottom: 12rem;
        text-align: left;
        height: 166px;
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    .hero-content {
        font-size: 1.5rem;
    }
    .glass::before {
        margin-left: 0;
    }
    .glass span {
        display: inline-block;
        margin: 0;
        max-width: 270px;
        vertical-align: middle;
    }
}
@media (min-width: 750px) {
    .hero {
        height: 190px;
    }
    .hero-heading {
        font-weight: 300;
        font-size: 4.0rem;
    }
    .hero-content {
        font-size: 2.0rem;
    }
    .hero-button {
        font-size: 2rem;
        line-height: 4.7rem;
        height: 5rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1200px) {
    .hero-heading {
        font-size: 5.0rem;
    }
}

/* Feed 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.feed .feed-item {
    display: block;
}

/* Support Actions 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bx-wrapper {
    max-width: initial !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
}
.bx-wrapper img {
    max-width: initial;
    display: inline;
}
.bx-wrapper .bx-controls-direction a {
    top: 7%; 
    z-index: 99;
    height: 100%;
}
.bx-wrapper .bx-prev {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); 
}
.bx-wrapper .bx-next {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); 
}
.bx-wrapper .bx-next:before {
    content: " ";
    background: url(../open-iconic/png/chevron-right-2x.png) no-repeat center right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bx-wrapper .bx-prev:before {
    content: " ";
    background: url(../open-iconic/png/chevron-left-2x.png) no-repeat center left;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-prev:focus,
.bx-wrapper .bx-prev:hover {
    background-position: 0;
}
.bx-wrapper .bx-next:hover:before {
    background: url(../open-iconic/png/chevron-right-3x.png) no-repeat center right;
}
.bx-wrapper .bx-prev:hover:before {
    background: url(../open-iconic/png/chevron-left-3x.png) no-repeat center left;
}
.actions-slider {
    margin-right: 16px;
}
.actions-slider li {
}
a.support-action {
    width: 90%;
    text-decoration: none;
    border: 1px solid #bbb;
    border-color: #3299bb;
    box-shadow: 0 0 10px #e5e5e5;
    padding: 0.5em 1em;
}
.support-action:hover {
    border-color: #1eaeda;
    background-color: #fff;
    cursor: pointer;
}
.support-action:hover h5 {
    text-decoration: underline;
}
.support-action article,
.support-action-counter {
    color: #161310;
}
.support-action-expiration {
    color: #652a28;
}
.support-action-modal-description {
    min-height: 180px;
}


/* Posts 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post {
    -moz-box-shadow: 0 0 10px #e5e5e5;
    -webkit-box-shadow: 0 0 10px #e5e5e5;
    box-shadow: 0 0 10px #e5e5e5;
    padding: 1em;
    margin-top: 2em;
}
.post article {
    /* Height is set dynamically in app/static/js/conversation.js 
     * height: 85px; */
    overflow: hidden;
    position: relative;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.post article .fade {
    position: absolute; 
    bottom: 0;
    width:100%;
    height: 85px;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
.post article .fade small {
    float: right;
    margin-top: 68px;
}
.post article .fade small a {
    cursor: pointer;
}
.post article h1, .comment article h1, 
.post article h2, .comment article h2,
.post article h3, .comment article h3,
.post article h4, .comment article h4 {
    font-weight: bold;
    font-size: larger;
}
@media (min-width: 550px) {
    .post-full-view {
        display: block;
        min-height: 299px;
    }
}

/* Footer 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    display: block;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0;
    background: #161310;
    color: #fff;
}
.footer small {
    color: #fff;
}
.footer a {
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer ul li {
    list-style-type: none;
}


/* Navigation 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#scrollspy {
    display: inline-block;
}
.nav-tabs-container {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
}
.nav-stacked-fixed {
    position: fixed;
    top: 6em;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    display: inline-block;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #fbfaf9;
}
.nav > li.disabled > a {
    color: #524535;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #524535;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav-stacked {
    width: 100%;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -3px;
}
.nav-tabs > li > a {
    line-height: 2.8;
    height: 4.5rem;
    text-decoration: none;
}

.nav-stacked > li > a {
    line-height: 1.8;
    height: 2.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-tabs > li > a:hover
.nav-stacked > li > a:hover {
    color: #fbfaf9;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    font-weight: 600;
    text-decoration: underline;
}
@media (min-width: 1000px) {
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-color: #3299bb;
        border-radius: 3px;
    }
}
.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover,
.nav-stacked > li.active > a:focus {
    font-weight: 600;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-left-style: solid;
    border-left-color: #3299bb;
}
.nav-tabs.nav-horizontal > li.active > a,
.nav-tabs.nav-horizontal > li.active > a:hover,
.nav-tabs.nav-horizontal > li.active > a:focus, 
.nav-stacked.nav-horizontal > li.active > a,
.nav-stacked.nav-horizontal > li.active > a:hover,
.nav-stacked.nav-horizontal > li.active > a:focus {
    border-width: 3px;
}
.nav-tabs.nav-secondary > li.active > a,
.nav-tabs.nav-secondary > li.active > a:hover,
.nav-tabs.nav-secondary > li.active > a:focus,
.nav-stacked.nav-secondary > li.active > a,
.nav-stacked.nav-secondary > li.active > a:hover,
.nav-stacked.nav-secondary > li.active > a:focus {
    border-width: 1px;
}
.nav-social img {
    margin-top: 0.5em;
}


/* Modals 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
    visibility: hidden;
    overflow: scroll;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #000;
    background: url(../images/transparent-pixel.png);
}
.modal h3 {
    width: 94%;
}
.modal div {
    width: 90%;
    margin: 100px auto;
    padding: 15px;
    background-color: #fff;
    /*border-radius: 4px;*/
    border: 3px solid #ff9900;
    text-align: left;
}
@media (min-width: 1000px) {
    .modal div {
        width: 50%;
    }
}


/* Input 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    border: 1px solid #e5e5e5;
    color: #161310;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #3299bb;
}
.button, 
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    color: #3299bb;
    border-color: #3299bb;
    background-color: #fbfaf9;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #1eaeda;
    border-color: #1eaeda;
    background-color: #fff;
    text-decoration: none;
}
.button.success {
    color: #fff;
    background-color: #274D28;
    border-color: #274D28;
}
.button.success:hover,
button.success:hover,
input[type="submit"].success:hover,
input[type="reset"].success:hover,
input[type="button"].success:hover {
    background-color: #326334;
    color: #fff;
    border-color: #326334;
}
.warning {
    color: #fff;
    background-color: #604b29;
    border-color: #604b29;   
}
.button.warning:hover,
button.warning:hover,
input[type="submit"].warning:hover,
input[type="reset"].warning:hover,
input[type="button"].warning:hover {
    background-color: #775d33;
    color: #fff;
    border-color: #775d33;
}
.button.danger {
    color: #fff;
    background-color: #652A28;
    border-color: #652A28;
}
.button.danger:hover,
button.danger:hover,
input[type="submit"].danger:hover,
input[type="reset"].danger:hover,
input[type="button"].danger:hover {
    background-color: #7d3432;
    color: #fff;
    border-color: #7d3432;
}
.button.button-primary,
button.button-primary, 
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
    background-color: #3299bb;
    border-color: #3299bb;
}
.button-disabled,
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    color: #161310;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    text-decoration: line-through;
}
.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus,
button:disabled:hover,
button:disabled:active,
button:disabled:focus, 
input[type="button"]:disabled:hover,
input[type="button"]:disabled:active,
input[type="button"]:disabled:focus,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
input[type="submit"]:disabled:focus {
    color: #161310;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    cursor: not-allowed;
    text-decoration: line-through;
}
.button img {
    margin-top: 1em;
}
.button .button-text-with-img {
    display: none;
}
@media (min-width: 550px) {
    .button .button-text-with-img {
        display: inline;
        position: relative;
        bottom: 4px;
    }
}
.selected {
    color: #1EAEDB;
    border-color: #1EAEDB;
}
.selected.button:hover {
    color: #1EAEDB;
}
.button-choice input {
    margin-top: 11px;
    margin-bottom: 0;
}
.button-profile {
    margin-top: 1em;
}
.checkbox-container {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container label {
    position: absolute;
    padding-left: 40px;
    margin-top: 0.3rem;
}
.checkbox {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #3299bb;
    position: relative;
    border-radius: 4px;
    margin-right: 1rem;
}
.checkbox input[type="checkbox"] {
    visibility: hidden;
}
.checkbox .checkbox-replacement {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}
.checkbox .checkbox-replacement:before {
    content: '';
    width: 9px;
    height: 5px;
    border: 3px solid #3299bb;
    position: absolute;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    top: 8px;
    left: 8px;
    opacity: 0;
}
.checkbox input[type="checkbox"]:checked + .checkbox-replacement:before {
    opacity: 1;
    border-color: #3299bb;
}
.checkbox input[type="checkbox"]:checked + .checkbox-replacement {
    background-color: #fbfaf9;
}
.no-label label {
    display: none;
}


/* Dropdown 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 99px;
    margin-left: 11px;
    margin-top: -10px;
    border-left: 1px solid #1eaeda;
    border-bottom: 1px solid #1eaeda;
    border-right: 1px solid #1eaeda;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 4px;
}
@media (min-width: 550px) {
    .dropdown-content {
        min-width: 124px;
    }
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #FBFAF9;
}
.dropdown:hover .dropdown-content,
.dropdown-content-click {
    display: block;
}
.dropdown:hover .dropdown-button,
.dropdown-button-click {
    background-color: #fff;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-link-color-override,
.u-link-color-override:hover,
.u-link-color-override:active,
.u-link-color-override:focus {
    color: #524535;
    display: block;
}
.u-add-margin-top {
    margin-top: 1em !important;
}
.u-add-margin-bottom {
    margin-bottom: 1em;
}
.u-add-margin-left {
    margin-left: 1em;
}
.u-add-margin-right {
    margin-right: 1em;
}
.u-remove-margin-bottom {
    margin-bottom: 0;
}
.u-remove-margin-top {
    margin-top: 0;
}
.u-to-upper {
    text-transform: uppercase;
}
.u-text-center {
    text-align: center;
}
.u-text-right {
    text-align: right;
}
.u-mobile-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
}
@media (min-width: 550px) {
    .u-mobile-fixed-bottom {
        position: initial;
        margin: initial;
        width: 100%;
    }
}
.u-hide-on-mobile {
    display: none !important;
}
@media (min-width: 550px) {
    .u-hide-on-mobile {
        display: initial !important;
    }
}
.u-show-on-mobile {
    display: initial;
}
@media (min-width: 550px) {
    .u-show-on-mobile {
        display: none;
    }
}


/* Lists 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle outside;
    margin-left: 1em;
}
ol {
    counter-reset: section;
    list-style-type: none;
}
ol li::before {
    counter-increment: section;
    content: counters(section,".") ". ";
}
ul ul,
ul ol,
ol ol,
ol ul {
  font-size: 100%; 
}

dl dt {
    margin-bottom: 1.5em;
}
dl dd {
    margin-bottom: 2em;
}


/* Blockquotes 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
    border-left: 3px solid #222;
    margin-left: 0;
    padding-left: 2.4rem;
    font-style: oblique;
    font-size: larger;
}

/* Code 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    background: #fbfaf9;
    border-color: #e5e5e5;
}
pre {
    padding: 10px 0 10px 15px;
    color: #fff;
    background-color: #161310;
    overflow-x: auto;
    font-size: small;
    text-align: left;
    border-radius: 4px;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slide-down {
    from { margin-top: -10%; }
    to   { margin-top: 0%; }
}
@keyframes slide-up {
    from { margin-top: 0%; }
    to   { margin-top: -10%; }
}
