{% extends "base.html" %}
{% set active_page = "styleguide_templating" %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scroll-spy.js') }}"></script>
{% endblock %}

{% block content %}
{% from "helpers/navigation.html" import render_styleguide_nav, render_scrollspy %}
{% from "helpers/styleguide.html" import render_header %}
<div class="container">
    <div class="row">
        {{ render_header(title, version) }}
    </div>
    <hr class="u-remove-margin-bottom">
    <div class="row">
        <div class="twelve columns">
            {{ render_styleguide_nav(active_page) }}
        </div>
    </div>
    <div class="row u-add-margin-top">
        <div class="nine columns">

            <h2>Templating</h2>
            <p>We're using <a href="http://jinja.pocoo.org/">Jinja2</a> templating engine which comes with Flask by default. All documentation can be found <a href="http://jinja.pocoo.org/docs/dev/">here</a>. All the template can be found in <code>app/templates</code>, broken up into sub-directories by their respective modules. There's a special directory called <code>app/templates/helpers</code>, which contains helper macros that are recycled multiple times in other templates.</p>
            <p>Remember that all macros have to be imported inside <code>&#123;&#37; block content &#37;&#125;</code>. For example, here's how you import the modals macro:</p>
            <pre>
&#123;&#37; from "helpers/modals.html" import render_modal &#37;&#125;</pre>

            <hr>

            <h3 class="scrollspy-section"><a id="base-layout"></a>Base Layout</h3>
            <p>All templates inherit their layout from <code>app/templates/base.html</code>. It includes standard <code>&lt;html&gt;</code>, <code>&lt;head&gt;</code> and <code>&lt;body&gt;</code> declarations that are recycled by every page. Within the <code>&lt;body&gt;</code> there are <code>&lt;div&gt;</code> blocks with <code>header</code>, <code>content</code> and <code>footer</code> classes that represent these sections of the page.</p>
            <ul>
                <li><code><strong>header</strong></code> contains the fixed header containing a logo, site-wide navigation and login/logout buttons.</li>
                <li><code><strong>content</strong></code> holds flashed messages, as well as main page content. So messages are displayed right below <code>header</code> but above <code>content</code>.</li>
                <li><code><strong>footer</strong></code> contains the static footer with some quick links to important information and social media links.</li>
            </ul>
            <p>There are 5 template blocks called <code>{&#37; block title &#37;}</code>, <code>{&#37; block meta &#37;}</code>, <code>{&#37; block styles &#37;}</code>, <code>{&#37; block scripts &#37;}</code> and <code>{&#37; block content &#37;}</code>, which correspond to blocks declared in each individual page template. Details are  described below in the <a href="#basic-template">Basic Template</a> section.</p>
            <hr>
           
            <h3 class="scrollspy-section"><a id="basic-template"></a>Basic Template</h3>
            <p>Each page template has a basic layout that looks like this:</p>
            <pre>
{&#37; extends "base.html" &#37;}
{&#37; set active_page = "page_name" &#37;}

{&#37; block title &#37;}
{&#37; endblock &#37;}
        
{&#37; block meta &#37;}
{&#37; endblock &#37;}

{&#37; block styles &#37;}
{&#37; endblock &#37;}

{&#37; block scripts &#37;}
{&#37; endblock &#37;}
        
{&#37; block content &#37;}
{&#37; endblock &#37;}</pre>
            <p>Basically, it extends the <code>base.html</code> template and inserts anything from  the <code>{&#37; block &#37;}</code> elements into corresponding blocks in <code>base.html</code>.</p>
            <p><code><strong>{&#37; set active_page = "page_name" &#37;}</strong></code> is usually used to tell <a href="#navigation-helpers">Navigation Helpers</a> which page is currently active.</p>
            <table class="u-full-width">
                <tbody>
                    <tr>
                        <th><code>{&#37; block ____ &#37;}</code></th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code>title</code></td>
                        <td>Text that will appear in the <code>&lt;title&gt;</code> element.</td>
                    </tr>
                    <tr>
                        <td><code>meta</code></td>
                        <td><code>&lt;meta&gt;</code> elements that appear inside the <code>&lt;head&gt;</code>.</td>
                    </tr>
                    <tr>
                        <td><code>styles</code></td>
                        <td>Styles that are unique to this particular page.</td>
                    </tr>
                    <tr>
                        <td><code>scripts</code></td>
                        <td>Scripts that are unique to this particular page.</td>
                    </tr>
                    <tr>
                        <td><code>content</code></td>
                        <td>Page content.</td>
                    </tr>
                </tbody>
            </table>
            <hr>

            <h3 class="scrollspy-section"><a id="navigation-helpers"></a>Navigation Helpers</h3>
            <p>Navigation helpers are located in <code>app/templates/helpers/navigation.html</code> file. Currently available macros are:</p>
            <dl>
                <dt><code><strong>render_styleguide_nav(active_section)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    Renders navigation for <em>styleguide</em> module.<br>
                    <br>
                    <strong>Arguments:</strong>
                    <ul>
                        <li><code><strong>active_section</strong></code> : currently active section that gets an underline.</li>
                    </ul>
                </dd>
                <dt><code><strong>render_scrollspy()</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    This menu is populated automatically by <a href="{{ url_for('static', filename='js/scroll-spy.js') }}"><code>app/static/js/scroll-spy.js</code></a> script. If you are going to use this navigation macro, don't forget to include it in <code>{&#37; block scripts &#37;}</code> like so: <pre>&lt;script type="text/javascript" src="{&#123; url_for('static', filename='js/scroll-spy.js') &#125;}"&gt;&lt;/script&gt;</pre>
                    Each section of a page that needs to appear in this menu needs to have the following markup: <pre>&lt;h3 class="scrollspy-section"&gt;&lt;a id="some-section-id"&gt;&lt;/a&gt;Some Section&lt;/h3&gt;</pre>
                </dd>
            </dl>
            <hr>

            <h3 class="scrollspy-section"><a id="form-helpers"></a>Form Helpers</h3>
            <p>Form helpers are located in <code>app/templates/helpers/forms.html</code> file. We're using <a href="https://flask-wtf.readthedocs.org/en/latest/">Flask-WTF</a> extention for form processing. You should declare your forms in the <code>app/module_name/forms.py</code>, then import it in <code>app/module_name/views.py</code> file and then pass the form as avariable to <code>render_template()</code> method in the view.</p>
            <p><code>forms.py</code> should look something like this:</p>
            <pre>
    from flask_wtf import Form 
    from wtforms import StringField

    class YourForm(Form):
        some_field = StringField('Some Field')</pre>
            <p><code>views.py</code> should look something like this:</p>
            <pre>
    # Other imports and views would be declared above

    # Don't forget to import your forms
    from app.module_name.forms import YourForm

    # The view that needs a form 
    @mod.route('/some_route')
    def some_view():
        form = YourForm()
        return render_template('module_name/template.html', form=form)</pre>
            <p>The template file that uses the form should have something like the following in its <code>{&#37; block content &#37;}</code>:</p>
            <pre>
&#123;&#37; block content &#37;&#125;

    &lt;!-- Import the form helpers --&gt;
    &#123;&#37; from "helpers/forms.html" import render_field &#37;&#125;

    &lt;form id="form_id" name="form_name" action="" method="post"&gt;

        &lt;!-- CSRF protection --&gt;
        &#123;&#123; form.hidden_tag() &#125;&#125;

        &lt;!-- Render your field --&gt;
        &#123;&#123; render_field(form.some_field) &#125;&#125;

    &lt;/form&gt;

&#123;&#37; endblock &#37;&#125;</pre>

            <p>Currently available macros are:</p>
            <dl>
                <dt><code><strong>render_boolean(bool)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    Renders <a href="http://localhost:5000/styleguide/forms#bool-checkbox">Bool Checkbox</a>
                    <br><br>
                    <strong>Arguments:</strong>
                    <ul>
                        <li><code><strong>bool</strong></code> : takes a WTForms <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.BooleanField"><code>BooleanField()</code></a>, which is usually defined in the <code>forms.py</code> file of a module.</li>
                    </ul>
                </dd>
                <dt><code><strong>render_radio(radio)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br> 
                    Renders a standard radio button section.
                    <br><br>
                    <strong>Arguments:</strong>
                    <ul>
                        <li><code><strong>radio</strong></code> : takes a WTForms <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.RadioField"><code>RadioField()</code></a>, which is usually defined in the <code>forms.py</code> file of a module.</li>
                    </ul>
                </dd>
                <dt><code><strong>render_field(field, **kwargs)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    Renders most other fields like <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.StringField"><code>StringField()</code></a>, <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.PasswordField"><code>PasswordField()</code></a>, <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.HiddenField"><code>HiddenField()</code></a>, <a href="http://wtforms.readthedocs.org/en/latest/fields.html#wtforms.fields.TextAreaField"><code>TextAreaField()</code></a>, etc. A full list of possible fields can be found <a href="http://wtforms.readthedocs.org/en/latest/fields.html">here</a>.
                    <br><br>
                    <strong>Arguments:</strong>
                    <ul>
                        <li><code><strong>field</strong></code> : any of the fields availabe <a href="http://wtforms.readthedocs.org/en/latest/fields.html">here</a>, except the <code>RadioField()</code>, for which you should use the <code>render_radio()</code> macro.</li>
                        <li><code><strong>**kwargs</strong></code> : keyword arguments to be passed to the <code>Widget()</code>. Names are converted, e.g. <code>data_validation_error_msg</code> becomes <code>data-validation_error_msg</code></li>
                    </ul>
                </dd>
                <dt><code><strong>render_field_no_label(field, **kwargs)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    As <strong>render_field</strong>, but do not draw a label
                </dd>
            </dl>
            <hr>

            <h3 class="scrollspy-section"><a id="modal-helpers"></a>Modal Helpers</h3>
            <p>Modal helpers are located in <code>app/templates/helpers/modals.html</code> file. Full description of implementation can be found in the <a href="{{ url_for('styleguide.modals') }}">Modal section</a>.</p>
            <p>If you're going to use modals on a page, don't forget to import <code>app/static/js/modal.js</code> file inside <code>&#123;&#37; block scripts &#37;&#125;</code>. Here's an example:</p>
            <pre>
&#123;&#37; block content &#37;&#125;

    &lt;!-- Import the modal JavaScript --&gt;
    &lt;script src="&#123;&#123; url_for('static', filename='js/modal.js') &#125;&#125;"&gt;&lt;/script&gt;

&#123;&#37; endblock &#37;&#125;

&#123;&#37; block content &#37;&#125;

    &lt;!-- Import the modal helpers --&gt;
    &#123;&#37; from "helpers/modals.html" import render_modal &#37;&#125;

    &#123;&#123; render_modal('modal-demo', 
                    'Modal Demo',
                    'Modal demo content',
                    'Click here to see a modal',
                    'button') &#125;&#125;

&#123;&#37; endblock &#37;&#125;</pre>
            <p>Currently there's only one modal macro:</p>
            <dl>
                <dt><code><strong>render_macro(id, title, content, button_class, button_text)</strong></code></dt>
                <dd>
                    <strong>Description:</strong><br>
                    Automatically render a modal based on the <a href="{{ url_for('styleguide.modals') }}">Modal section</a>. The element that activates the modal is always <code>&lt;a&gt;</code>.
                    <br><br>
                    <strong>Arguments:</strong>
                    <ul>
                        <li><code><strong>id</strong></code> : a unique identifier assigned to buth the modal element and the button's <code>data-target</code> attribute. Must not contain spaces.</li>
                        <li><code><strong>title</strong></code> : title to be displayed at the top of the modal box.</li>
                        <li><code><strong>content</strong></code> : content of the modal.</li>
                        <li><code><strong>button_text</strong></code> : text to be displayed in the element that triggers the modal.</li>
                        <li><code><strong>button_class</strong></code> : class assigned to the element that triggers the modal. Usually something like <code>button</code> and/or <code>button-primary</code>. If left blank will just display as a link.</li>
                    </ul>
                </dd>
            </dl>
        </div>

        <div class="three columns">
            {{ render_scrollspy() }}
        </div>

    </div>
</div>
{% endblock %}
