{% extends "base_form.html" %}
{% set active_page = "comments" %}

{% block title %}{{ cause.title }} - {{ super() }}{% endblock title %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/post_image_preview.js') }}"></script>
<script src="{{ url_for('static', filename='autosize/dist/autosize.min.js') }}"></script>
<script>
$(document).ready(function() {
    autosize(document.getElementById('body'));
});
</script>
{% endblock %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_field_no_label, render_boolean %}
    <form id="post" name="post" action="" method="post" enctype="multipart/form-data">
        {{ post_form.hidden_tag() }}
        <div class="row u-add-margin-bottom">
            <div class="six columns offset-by-three">
                <span>{{ render_avatar(post.author) }}</span>
                <small>{{ post.created_on.strftime('%b. %d, %Y') }}</small>
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three u-remove-margin-left post-box">
                {{ render_field_no_label(post_form.body, class="", placeholder="Start a conversation") }}
                <fieldset class="post-box-controls">
                    <label for="images" class="button-icon u-pull-right">
                        <img src="{{ url_for('static', filename='open-iconic/png/image-3x.png') }}">
                        <small>Add Image</small>
                    </label>
                    {{ render_field_no_label(post_form.images) }}
                </fieldset>
            </div>
        </div>
        <div class="six columns offset-by-three u-add-margin-bottom" id="preview"></div>
        <div class="row u-add-margin-top">
            <div class="three columns offset-by-three">
                <input id="cancel" class="button u-full-width" value="{{ _('Cancel') }}">
            </div>
            <div class="three columns">
                <input id="save" type="submit" value="{{ _('Save') }}"
                    class="button button-primary u-full-width u-mobile-fixed-bottom">
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="six columns offset-by-three u-text-center">
                {% if post %}
                <a class="button danger"
                   data-target="modal-delete">
                    {{ _('Delete Post') }}
                </a>
                <div id="modal-delete" class="modal">
                    <div style="width:300px;">
                        <h3 class="u-pull-left">Are you sure?</h3>
                        <a href="#" class="button-modal-close u-pull-right">
                            <img src="/static/open-iconic/png/x-2x.png" alt="X" />
                        </a>
                        <p>This post and any replies to it will be <strong>permanently removed</strong>.</p>
                        <p><small>Number of replies to this post: {{ post.comments.count() }}</small></p>
                        <br>
                        <a class="button button-modal-close u-pull-left"
                           style="width:48%;">
                            Cancel
                        </a>
                        <a class="button danger u-pull-left u-add-margin-left"
                           style="width:48%;"
                           href="{{ url_for('.post_delete', slug=cause.slug, pk=post.id) }}">
                            Delete
                        </a>
                        <br class="u-cf">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
