{% extends "base_form.html" %}
{% set active_page = "discussion" %}

{% block title %}{{ post.title }} - {{ super() }}{% endblock title %}

{% block content %}
{% from "helpers/users.html" import render_avatar %}
<div class="full-width-container">

    <div class="row u-add-margin-top">
        <div class="twelve columns">
            <a href="{{ url_for('causes.cause_detail', slug=cause.slug) }}">
                <h1 class="u-remove-margin-bottom">{{ cause.title }}</h1>
            </a>
        </div>
    </div>
    <hr>

    <div class="row u-add-margin-top">
        <div class="one-half column">
            <div class="post u-remove-margin-top u-add-margin-bottom">
                <h2 class="u-pull-left">{{ post.title }}</h2>
                <article class="u-cf">{{ post.body|markdown }}</article>
                <p class="u-remove-margin-bottom">
                    {{ render_avatar(post.author) }}&nbsp;
                    {{ post.created_on.strftime('%b. %d, %Y') }}
                    {% if post.author == current_user or current_user.is_admin %}
                        <a class="button u-pull-right u-remove-margin-bottom"
                            href="{{ url_for('posts.post_edit', slug=cause.slug, pk=post.id) }}">
                            edit
                        </a>
                    {% endif %}
                </p>
            </div>
            <h5 class="u-remove-margin-bottom">{{ _('%(count)s comments for this post. Leave yours:', count=post.comments.count()) }}</h5>
            {% if current_user.is_authenticated and current_user.is_supporting(cause) %}
            {% from "helpers/forms.html" import render_field, render_boolean %}
            <form id="cause" class="u-add-margin-top" name="cause" action="{{ url_for('posts.comment_add', slug=cause.slug, pk=post.id) }}" method="post">
                {{ comment_form.hidden_tag() }}
                <fieldset class="no-label">
                    {{ render_field(comment_form.body, class="u-full-width") }}
                </fieldset>
                <input id="save" type="submit" value="Leave a Comment"
                    class="button button-primary">
            </form>
            {% elif not current_user.is_authenticated %}
            <p><strong>
                <a href="{{ url_for('causes.cause_detail', slug=cause.slug)}}">
                    {{ _('Log in') }} 
                </a>
                {{ _('to post.') }}
            </strong></p>
            {% else %}
            <p><strong>
                <a href="{{ url_for('causes.cause_support', slug=cause.slug)}}">
                    {{ _('Support this cause') }}
                </a>
                {{ _('to post.') }}
            </strong></p>
            {% endif %}
        </div>
        <div class="one-half column">
            {% for comment in post.comments.all() | reverse %}
                <div class="row">
                    <div class="post u-remove-margin-top u-add-margin-bottom column comment">
                        {{ comment.body|markdown }}
                        <p class="u-pull-left u-full-width u-remove-margin-bottom">
                            {{ render_avatar(comment.author) }}&nbsp;
                            {% if comment.created_on %}{{ comment.created_on.strftime('%b. %d, %Y') }}{% endif %}
                            {% if comment.author == current_user or current_user.is_admin %}
                                <a class="button u-pull-right u-remove-margin-bottom"
                                    href="{{ url_for('posts.post_edit', slug=cause.slug, pk=comment.id) }}">
                                    edit
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
