{% extends "base_form.html" %}
{% set active_page = "discussion" %}

{% block content %}
<div class="row">
    <div class="eight columns">
        <h1 class="u-remove-margin-bottom">{{ cause.title }}</h1>
    </div>
    <div class="four columns">
        <h1 class="u-remove-margin-bottom u-text-right"><small>vs. {{ cause.boss }}</small></h1>
    </div>
</div>
<hr class="u-remove-margin-bottom">
<div class="row u-add-margin-top">
    <div class="eight columns post offset-by-two">
        <h2>{{ post.title }}</h2>
        <p>
            <a href="{{ url_for('users.user', nickname=post.author.nickname) }}" 
                class="avatar-sm" 
                title="{{ post.author.full_name  }}">{{ post.author.initials }}</a>
            <em>{{ post.created_on.strftime('%b. %d, %Y') }}</em>
            {% if post.author == current_user %}
            <a href="{{ url_for('posts.post_edit', slug=cause.slug, pk=post.id) }}">
                edit
            </a>
            {% endif %}
        </p>
        <article>{{ post.body|markdown }}</article>
    </div>
    <h3 class="six columns offset-by-three">Comments</h3>
    {% for comment in post.comments.all() %}
    <div class="six columns comment offset-by-three">
        {{ comment.body|markdown }}
        <p class="u-pull-right">
            <a href="{{ url_for('users.user', nickname=comment.author.nickname) }}" 
                class="avatar-sm" 
                title="{{ comment.author.full_name  }}">{{ comment.author.initials }}</a>
            <em>{% if comment.created_on %}{{ comment.created_on.strftime('%b. %d, %Y') }}{% endif %}</em>
        </p>
    </div>
    {% endfor %}
    <div class="six columns offset-by-three">
        {% from "helpers/forms.html" import render_field, render_boolean, render_f %}
        <form id="cause" name="cause" action="{{ url_for('posts.comment_add', slug=cause.slug, pk=post.id) }}" method="post">
            {{ comment_form.hidden_tag() }}
            <fieldset class="no-label">
                {{ render_f(comment_form.body, "u-full-width") }}
            </fieldset>
            <input id="save" type="submit" value="Post"
                class="button button-primary u-mobile-fixed-bottom">
        </form>
    </div>
</div>
{% endblock %}
