{% extends "base.html" %}

{% block title %}{{ _('Admin') }} - {{ super() }}{% endblock title %}

{% block content %}
{% set users_display_cap = 10 %}
{% set causes_display_cap = 10 %}
{% set pages_display_cap = 10 %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="twelve columns">
            <h1>{{ _('Admin') }}</h1>
        </div>
    </div>
    <hr class="u-remove-margin-top">
    <div class="row">
        <div class="one-third column">
	    <h3 class="u-pull-left">
		<a href="{{ url_for('.admin_user_list') }}">
		    {{ _('Users') }}
		</a>
		<sup><small>{{ users | length }}</small></sup>
	    </h3>
            <a href="{{ url_for('.admin_user_list') }}"
               title="{{ _('View all users') }}"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="View" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> all</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">{{ _('id') }}</th>
                        <th>{{ _('nickname') }}</th>
                        <th class="u-text-right">{{ _('edit') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users[:users_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ user.id }}</td>
                        <td>
                            <a href="{{ url_for('users.user', nickname=user.nickname) }}">
                                {{ user.nickname }}
                            </a>
                        </td>
                        <td class="u-text-right">
                          <a href="{{ url_for('users.edit', nickname=user.nickname) }}">
			      <span class="oi" data-glyph="pencil" 
				  title="{{ _('Edit') }}" aria-hidden="true"></span>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if users | length > users_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="{{ _('More') }}"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
				{% trans trimmed user_count = users | length - users_display_cap  %}
				{{ user_count }} additional entry not displayed.
				{% pluralize %}
				{{ user_count }} additional entries not displayed.
				{% endtrans %}
                                <a href="{{ url_for('.admin_user_list') }}">{{ _('View all') }}</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif users | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>{{ _('Nothing here yet.') }}</small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
        <div class="one-third column">
	    <h3 class="u-pull-left">
		<a href="{{ url_for('.admin_cause_list') }}">
		    {{ _('Causes') }}
		</a>
		<sup><small>{{ causes | length }}</small></sup>
	    </h3>
            <a href="{{ url_for('.admin_cause_list') }}"
               title="{{ _('View all causes') }}"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="{{ _('View') }}" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> all</span>
            </a>
            <a href="{{ url_for('causes.cause_add_edit') }}"
		title="{{ _('Add new cause') }}"
               class="button u-pull-right">
                <span class="oi" data-glyph="plus" title="{{ _('Add') }}" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> {{ _('cause') }}</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">{{ _('id') }}</th>
                        <th>{{ _('title (slug)') }}</th>
                        <th class="u-text-right">{{ _('edit') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cause in causes[:causes_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ cause.id }}</td>
			<td>
			    <a href="{{ url_for('causes.cause_detail', slug=cause.slug) }}">{{ cause.title }}</a>
			    ({{ cause.slug }})
			</td>
                        <td class="u-text-right">
                          <a href="{{ url_for('causes.cause_add_edit', slug=cause.slug) }}">
                              <span class="oi" data-glyph="pencil" title="{{ _('Edit') }}" aria-hidden="true"></span>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if causes | length > causes_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="{{ _('More') }}"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
				{% trans trimmed cause_count = causes | length - causes_display_cap %}
				{{ cause_count }} additional entry not displayed.
				{% pluralize %}
				{{ cause_count }} additional entries not displayed.
				{% endtrans %}
				<a href="{{ url_for('.admin_cause_list') }}">
				    {{ _('View all') }}
				</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif causes | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                {{ _('Nothing here yet') }}.
				<a href="{{ url_for('causes.cause_add_edit') }}"> 
				    {{ _('Add a new cause') }}
				</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
        <div class="one-third column">
	    <h3 class="u-pull-left">
		<a href="{{ url_for('.admin_page_list') }}">
		    {{ _('Pages') }}
		</a>
		<sup><small>{{ pages | length }}</small></sup>
	    </h3>
            <a href="{{ url_for('.admin_page_list') }}"
               title="{{ _('View all pages') }}"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="View" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> {{ _('all') }}</span>
            </a>
            <a href="{{ url_for('.admin_page_add') }}"
               title="Add new page"
               class="button u-pull-right">
                <span class="oi" data-glyph="plus" title="Add" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> {{ _('page') }}</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">{{ _('id') }}</th>
                        <th>{{ _('name (url)') }}</th>
                        <th class="u-text-right">{{ _('edit') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages[:pages_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ page.id }}</td>
			<td>
			    <a href="{{ url_for('pages.page_detail', url=page.url) }}">
				{{ page.name }}
			    </a>
			    {{ page.url }}
		        </td>
                        <td class="u-text-right">
                            <a href="{{ url_for('.admin_page_edit', pk=page.id) }}">
                                <span class="oi" data-glyph="pencil"
				    title="{{ _('Edit') }}" 
				    aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if pages | length > pages_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="{{ _('More') }}"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
				{% trans trimmed page_count = pages | length - pages_display_cap %}
				{{ page_count }} additional entry not displayed.
				{% pluralize %}
				{{ page_count }} additional entries not displayed.
				{% endtrans %}
                                <a href="{{ url_for('.admin_page_list') }}"> {{ _('View all') }}</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif pages | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                {{ _('Nothing here yet') }}.
				<a href="{{ url_for('.admin_page_add') }}"> 
				    {{ _('Add a new page') }}
				</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
