{% extends "base.html" %}

{% block title %}Admin - {{ super() }}{% endblock title %}

{% block content %}
{% set users_display_cap = 10 %}
{% set causes_display_cap = 10 %}
{% set pages_display_cap = 10 %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="twelve columns">
            <h1>{{ _('Admin') }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="one-third column">
            <h3 class="u-pull-left">{{ _('Users') }} <sup><small>{{ users | length }}</small></sup></h3>
            <a href="{{ url_for('.admin_user_list') }}"
               title="View all users"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="View" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> all</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">id</th>
                        <th>nickname</th>
                        <th class="u-text-right">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users[:users_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ user.id }}</td>
                        <td>
                            <a href="{{ url_for('users.user', nickname=user.nickname) }}">
                                {{ user.nickname }}
                            </a>
                        </td>
                        <td class="u-text-right">
                          <a href="{{ url_for('users.edit', nickname=user.nickname) }}">
                              <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if users | length > users_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="More"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
                                {{ users | length -users_display_cap }} additional entries not displayed.
                                <a href="{{ url_for('.admin_user_list') }}">View all</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif users | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                Nothing here yet.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
        <div class="one-third column">
            <h3 class="u-pull-left">{{ _('Causes') }} <sup><small>{{ causes | length }}</small></sup></h3>
            <a href="{{ url_for('.admin_cause_list') }}"
               title="View all causes"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="View" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> all</span>
            </a>
            <a href="{{ url_for('causes.cause_add_edit') }}"
               title="Add new cause"
               class="button u-pull-right">
                <span class="oi" data-glyph="plus" title="Add" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> cause</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">id</th>
                        <th>title (slug)</th>
                        <th class="u-text-right">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cause in causes[:causes_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ cause.id }}</td>
			<td>
			    <a href="{{ url_for('causes.cause_detail', slug=cause.slug) }}">{{ cause.title }}</a>
			    ({{ cause.slug }})
			</td>
                        <td class="u-text-right">
                          <a href="{{ url_for('causes.cause_add_edit', slug=cause.slug) }}">
                              <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if causes | length > causes_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="More"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
                                {{ users | length -causes_display_cap }} additional entries not displayed.
                                <a href="{{ url_for('.admin_cause_list') }}">View all</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif causes | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                Nothing here yet.
                                <a href="{{ url_for('causes.cause_add_edit') }}"> Add a new cause</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
        <div class="one-third column">
            <h3 class="u-pull-left">{{ _('Pages') }} <sup><small>{{ pages | length }}</small></sup></h3>
            <a href="{{ url_for('.admin_page_list') }}"
               title="View all pages"
               class="button u-pull-right u-add-margin-left">
                <span class="oi" data-glyph="eye" title="View" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> all</span>
            </a>
            <a href="{{ url_for('.admin_page_add') }}"
               title="Add new page"
               class="button u-pull-right">
                <span class="oi" data-glyph="plus" title="Add" aria-hidden="true"></span>
                <span class="u-hide-on-medium"> page</span>
            </a>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th class="u-show-on-large">id</th>
                        <th>name (url)</th>
                        <th class="u-text-right">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages[:pages_display_cap] %}
                    <tr>
                        <td class="u-show-on-large">{{ page.id }}</td>
			<td>
			    <a href="{{ url_for('pages.page_detail', url=page.url) }}">
				{{ page.name }}
			    </a>
			    {{ page.url }}
		        </td>
                        <td class="u-text-right">
                            <a href="{{ url_for('.admin_page_edit', pk=page.id) }}">
                                <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if pages | length > pages_display_cap %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td>
                            <span class="oi"
                                  data-glyph="ellipses"
                                  style="display:block; margin-bottom:-8px;"
                                  title="More"
                                  aria-hidden="true"></span>
                        </td>
                        <td colspan="3" class="u-text-right">
                            <small>
                                {{ users | length -pages_display_cap }} additional entries not displayed.
                                <a href="{{ url_for('.admin_page_list') }}"> View all</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% elif pages | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                Nothing here yet.
                                <a href="{{ url_for('.admin_page_add') }}"> Add a new page</a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
