{% extends "base.html" %}

{% block title %}Admin - {{ super() }}{% endblock title %}

{% block content %}
<div class="container u-add-margin-top">
	<div class="row">
		<div class="six columns offset-by-three">
			<h2>
				{{ _('Admin') }}
			</h2>
            <a class="button" href="{{ url_for('.admin_cause_list') }}">{{ _('Manage causes') }}</a>
            <a class="button" href="{{ url_for('.admin_user_list') }}">{{ _('Manage users') }}</a>
            <a class="button" href="{{ url_for('.admin_page_list') }}">{{ _('Manage pages') }}</a>
		</div>
	</div>
</div>
{% endblock %}
