{% extends "base.html" %}

{% block title %}{{ _('Pages') }} - {{ super() }}{% endblock title %}

{% block content %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="eight columns">
            <h1>{{ _('Pages') }} <sup><small>{{ pages | length }}</small></sup></h1>
        </div>
        <div class="four columns">
            <a href="{{ url_for('admin.admin') }}"
               class="button button-primary u-add-margin-top u-add-margin-left u-pull-right">
               <span class="oi" data-glyph="caret-left" title="{{ _('Back') }}" aria-hidden="true"></span>
               <span class="u-hide-on-mobile"> {{ _('to Admin') }}</span>
            </a>
            <a href="{{ url_for('.admin_page_add') }}"
                title="{{ _('Add new page') }}"
               class="button u-pull-right u-add-margin-top">
               <span class="oi" data-glyph="plus" title="{{ _('Add') }}" aria-hidden="true"></span>
               <span class="u-hide-on-mobile"> {{ _('page') }}</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>{{ _('id') }}</th>
                        <th>{{ _('name') }}</th>
                        <th>{{ _('url') }}</th>
                        <th class="u-text-right">{{ _('edit') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                    <tr>
                        <td>{{ page.id }}</td>
                        <td>
                            <a href="{{ url_for('pages.page_detail', url=page.url) }}">
                                {{ page.name }}
                            </a>
                        </td>
                        <td>{{ page.url }}</td>
                        <td class="u-text-right">
                            <a href="{{ url_for('.admin_page_edit', pk=page.id) }}">
                                <span class="oi" data-glyph="pencil"
                                    title="{{ _('Edit') }}" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if pages | length == 0 %}
                <tfoot>
                    <tr class="u-remove-border-bottom">
                        <td colspan="4" class="u-text-right">
                            <small>
                                {{ _('Nothing here yet.') }}
                                <a href="{{ url_for('.admin_page_add') }}"> 
                                    {{ _('Add a new page') }}
                                </a>.
                            </small>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
        </table>
        </div>
    </div>
</div>
{% endblock %}
