{% extends "base.html" %}

{% block title %}{{ _('Users') }} - {{ super() }}{% endblock title %}

{% block content %}
<div class="full-width-container">
  <div class="row u-add-margin-top">
    <div class="eight columns">
        <h1>{{ _('Users') }} <sup><small>{{ users | length }}</small></sup></h1>
    </div>
    <div class="four columns">
        <a href="{{ url_for('admin.admin') }}" 
           class="button button-primary u-add-margin-top u-pull-right">
           <span class="oi" data-glyph="caret-left" title="Back" aria-hidden="true"></span> 
           {{ _('to Admin') }}
        </a>
    </div>
  </div>
  <hr class="u-remove-margin-top">
  <div class="row">
      <div class="twelve columns">
        <table class="u-full-width">
            <thead>
                <tr>
                  <th>{{ _('id') }}</th>
                  <th>{{ _('nickname') }}</th>
                  <th>{{ _('e-mail') }}</th>
                  <th>{{ _('last login') }}</th>
                  <th>{{ _('causes created') }}</th>
                  <th>{{ _('causes supported') }}</th>
                  <th>{{ _('actions taken') }}</th>
                  <th class="u-text-right">{{ _('edit') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                      {{ render_avatar(user) }}
                      <a href="{{ url_for('users.user', nickname=user.nickname) }}"
                          title="{{ user.full_name|default(_('n/a')) }}">
                        {{ user.nickname }}
                      </a>
                    </td>
                    <td>{{ user.email|default('n/a') }}</td>
                    <td>
                        {% if user.last_login %}
                            {{ user.last_login.strftime('%Y-%m-%d %H:%M:%S') }}
                        {% else %}
                            {{ _('n/a') }}
                        {% endif %}
                    </td>
                    <td>{{ user.causes_created.count() }}</td>
                    <td>{{ user.causes_supports.distinct().count() }}</td>
                    <td>{{ user.actions.count() }}</td>
                    <td class="u-text-right">
                      <a href="{{ url_for('users.edit', nickname=user.nickname) }}">
                          <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                      </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% if users | length == 0 %}
            <tfoot>
                <tr class="u-remove-border-bottom">
                    <td colspan="4" class="u-text-right">
                        <small>
                            Nothing here yet. 
                        </small>
                    </td>
                </tr> 
            </tfoot>
            {% endif %}
        </table>
    </div>
  </div>
</div>
{% endblock %}
