{% extends "base_form.html" %}
{% set active_page = "cause" %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="cause" name="cause" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form_trans.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form_trans.title, class="u-full-width") }}
                </div>
            </fieldset>
            <!--
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form_trans.summary, class="u-full-width")  }}
                </div>
            </fieldset>
            -->
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form_trans.description, class="u-full-width")  }}
                </div>
            </fieldset>
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.expiration, 
                        class="u-full-width",
                        placeholder="2020-01-01 12:01:00"
                    ) }}
                </div>
            </fieldset>
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form.link, class="u-full-width")  }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <div class="three columns offset-by-three">
                    <input id="save" type="submit" value="{{ _('Save') }}"
                        class="button button-primary u-mobile-fixed-bottom">
                </div>
                <div class="three columns">
                </div>
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}
