{% extends "base_form.html" %}
{% set active_page = "action" %}

{% block title %}
    {{ cause.title }} | {{ action.title }} - {{ super() }}
{% endblock %}

{% block meta %}
{{ super() }}
<meta property="og:title" content="{{ cause.title }} | {{ action.title }} - Solid">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ url_for('.view_single_action', slug=cause.slug, pk=action.id, _external=True) }}">
<meta property="og:description" content="{{ action.summary }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ cause.title }} | {{ action.title }} - Solid">
<meta name="twitter:text:description" content="{{ action.summary }}">

{% if cause.image -%}
<meta property="og:image" content="{{ cause.image_url }}">
<meta name="twitter:image" content="{{ cause.image_url }}">
{% endif -%}
{% endblock meta %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
		$('a.support[rel=external]').click(function(e) {
            //window.location.href = $(e.target).data('supportHref');
            var action_id = $(this).attr('id');
            var prefix = 'action-';
            action_id = parseInt(action_id.substring(prefix.length), 10);
            $.post('/cause/' + '{{ cause.slug }}' + '/actions/' + action_id + '/support'
            ).done(function(action) {
                $('#action-description-' + action_id).hide();
                $('#action-thanks-' + action_id).show();
                console.log(action['actionTaken']);
                console.log(action['actionStatus']);
            }).fail(function() {
                console.log("fail");
            });
        });
</script>
{% endblock %}

{% block content %}
{% from "helpers/users.html" import render_avatar %}
<div class="container u-add-margin-top">
    <div class="row">
        <div class="twelve columns">
            <a class="action-support-cause-title" href="{{ url_for('causes.cause_detail', slug=cause.slug) }}">
                <h1>{{ cause.title }}</h1>
            </a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="two-thirds column">
            <h3 class="u-pull-left">
                {{ action.title }}
            </h3>
        </div>
        <div class="one-third column">
            {% if current_user not in action.supporters.all() %}
            <p class="u-remove-margin-bottom u-pull-right">
                {% if current_user.is_authenticated %}
                    {% if action.link %}
                    <a id="action-{{ action.id }}" 
                       class="button button-primary support u-add-margin-left" 
                       rel="external" 
                       target="_blank"
                       href="{{ action.link }}">
                        {{ _('Support!') }}
                    </a>
                    {% else %}
                    <a id="action-{{ action.id }}" 
                       class="button button-primary support u-add-margin-left"  
                       href="{{ url_for('causes.action_support', slug=cause.slug, pk=action.id) }}">
                        {{ _('Support!') }}
                    </a>
                    {% endif %}
                {% else %} 
                <a class="button button-primary support u-add-margin-left"
                   href="{{ url_for('users.login', next='/cause/' + cause.slug + '/actions/' + action.id|string) }}">
                    {{ _('Support!') }}
                </a>
                {% endif %}
            </p>
            {% else %}
            <p class="u-remove-margin-bottom u-pull-right">
                {% if action.link %}
                    <a id="action-{{ action.id }}" 
                       class="button button-primary support" 
                       rel="external" 
                       target="_blank"
                       href="{{ action.link }}">
                        {{ _('Go to 3rd party site') }}
                    </a>
                {% endif %}
            </p>
            {% endif %}


            {% if current_user in cause.creators.all() or current_user.is_admin %}
            <p class="u-remove-margin-bottom u-pull-right">
                <a class="button primary" 
                   title="Edit action"
                   href="{{ url_for('causes.action_add_edit', slug=cause.slug, pk=action.id) }}">
                    <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="two-thirds column">
            <p>{{ action.description|markdown }}</p>
            {% if action.expiration %}
            <small class="support-action-expiration u-pull-right">
                Expires: {{ action.expiration.strftime('%b. %d, %Y') }}
            </small>
            {% endif %}
            <span class="support-action-share">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{
                         url_for('causes.view_single_action', slug=cause.slug, pk=action.id,
                                 _external=True) | urlencode
                         }}"
                   target="_blank"
                   class="u-add-margin-right">
                    <img class="icon-social" src="{{ url_for('static', filename='icons/facebook-square.png') }}">
                </a>
                <a href="https://twitter.com/home?status={{
                         url_for('causes.view_single_action', slug=cause.slug, pk=action.id,
                                 _external=True) | urlencode
                         }}"
                   target="_blank"
                   class="u-add-margin-right">
                    <img class="icon-social" src="{{ url_for('static', filename='icons/twitter.png') }}">
                </a>
                <a href="https://plus.google.com/share?url={{
                         url_for('causes.view_single_action', slug=cause.slug, pk=action.id, 
                                 _external=True) | urlencode
                         }}"
                   target="_blank">
                    <img class="icon-social" src="{{ url_for('static', filename='icons/googleplus-square.png') }}">
                </a>
            </span>
        </div>
        <div class="one-third column">
            <p class="support-action-counter u-pull-right"> 
                <strong>
                    {% if action.supporters.count() == 0 %}
                        {{ _('Be the first to take this action!') }}
                    {% elif action.supporters.count() == 1 %}
                        {{ _('1 person took this action') }}
                    {% else %}
                        {{ _('%(count)s people took this action', count=action.supporters.count()) }}
                    {% endif %}
                </strong>
            </p>
            <br class="u-cf">
            <span class="support-action-takers">
                {% for supporter in action.supporters %}
                    {{ render_avatar(supporter) }}
                {% endfor %}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <!-- Action discussion should go here -->
        </div>
    </div>
</div>
{% endblock %}
