{% extends "base.html" %}
{% block title %}
    {{ cause.title }} - {{ super() }}
{% endblock %}

{% block content %}
{% from "helpers/actions.html" import render_action_list, render_action_list_full with context %}
<div class="full-width-container">
    <div class="row u-add-margin-top">
        <div class="twelve columns">
            <a href="{{ url_for('causes.cause_detail', slug=cause.slug) }}">
                <h1 class="u-remove-margin-bottom">{{ cause.title }}</h1>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="eight columns">
            <h3 id="actions">
                {{ _('Take action to win') }}
                <span>
                    {{ _('%(count)s available', count=actions.count()) }}
                </span>
            </h3>
        </div>
        {% if current_user in cause.creators.all() or current_user.is_admin %}
        <div class="four columns">
            <a class="button u-full-width" href="{{ url_for('.action_add_edit', slug=cause.slug) }}">
                <span class="oi" data-glyph="plus" title="Add new action" aria-hidden="true"></span>
                <span>&nbsp;{{ _('new action') }}</span>
            </a>
        </div>
        {% endif %}
    </div>
    {{ render_action_list_full(actions.all()) }}
</div>
{% endblock %}
