{% extends "base_form.html" %}
{% set active_page = "cause" %}

{% block title %}Edit Cause - {{ super() }}{% endblock %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="cause" name="cause" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form_trans.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form_trans.title, class="u-full-width") }}
                    {{ render_field(form_trans.intro, class="u-full-width")  }}
                </div>
            </fieldset>
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form.boss, class="u-full-width") }}
                    {{ render_field(form.location, class="u-full-width")  }}
                    {{ render_field(form.image, class="u-full-width")  }}
                </div>
            </fieldset>
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(form_trans.story_heading, class="u-full-width") }}
                    {{ render_field(form_trans.story_content, class="u-full-width")  }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <div class="three columns offset-by-three">
                    <input id="save" type="submit" value="Save"
                        class="button button-primary u-mobile-fixed-bottom">
                </div>
                <div class="three columns">
                </div>
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}
