{% extends "base.html" %}
{% set active_page = "dashboard" %}

{% block styles %}
<style>
.hero,
.glass::before {
    {% if cause.image %}
    background: url({{ url_for('static', filename=cause.image) }}) no-repeat fixed center 65px;
    {% endif %}
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#stand-with-us').click(function() {
            ga('send', {
                hitType: 'event',
                eventCategory: 'Causes',
                eventAction: 'support',
                eventLabel: 'Supported a cause'
            });
        });
        $('.actions a[rel=external]').click(function(e) {
            window.location.href = $(e.target).data('supportHref');
        });
    });
</script>
{% endblock %}

{% block content %}
{% from "helpers/modals.html" import render_modal %}
{% from "helpers/users.html" import render_avatar %}
{% from "helpers/posts.html" import render_post_list %}
<div class="section hero">
    <div class="full-width-container">
        <div class="row">
            <div class="twelve columns">
                <div class="glass">
                    <h4 class="hero-heading">
                        {{ cause.title }}
                    </h4>
                    {% if supporter %}
                        <h5 class="u-add-margin-left">&#10004;&nbsp;You are supporting this cause</h5>
                    {% else %}
                        <a id="stand-with-us" 
                           class="button button-primary hero-button" 
                           href="{{ url_for('causes.cause_support', slug=cause.slug) }}">Stand with us!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-container u-add-margin-top">
    <div class="row">
        <div class="nine columns">
            <h3>{{ cause.story_heading }}</h3>
            {{ cause.story_content }}
        </div>
        <div class="three columns">
            <a class="button button-modal u-full-width u-add-margin-top"
                data-target="modal-share">
                Share
            </a>
        </div>
        <div id="modal-share" class="modal">
            <div>
                <h3 class="u-pull-left">Share this cause</h3>
                 <a href="#" class="button-modal-close u-pull-right">
                     <img src="/static/open-iconic/svg/x.svg" alt="X" />
                 </a>
                 <ul class="u-cf">
                     <li>
                         <a href="https://www.facebook.com/sharer/sharer.php?u={{ 
                              url_for('causes.cause_detail', slug=cause.slug,
                                  _external=True) | urlencode
                         }}" target="_blank">Share on Facebook</a>
                     </li>
                     <li>
                         <a href="https://twitter.com/home?status={{
                              url_for('causes.cause_detail', slug=cause.slug,
                                  _external=True) | urlencode
                         }}" target="_blank">Share on Twitter</a>
                     </li>
                     <li>
                         <a href="https://plus.google.com/share?url={{
                              url_for('causes.cause_detail', slug=cause.slug,
                                  _external=True) | urlencode
                         }}" target="_blank">Share on Google+</a>
                     </li>
                 </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="nine columns actions">
            <h3 id="actions">
                Take action to win
                <span>({{ cause.actions.count() }} current)</span>
            </h3>
            <div class="row">
                {% for action in cause.actions.all() %}
                    <a class="four columns support-action" 
                       data-target="modal-action-{{ action.id }}">
                        <h4>{{ action.title }}</h4>
                        <p>{{ action.description }}</p>
                        <h6 class="u-remove-margin-bottom">
                            Supporters: {{ action.supporters.count() }}
                        </h6>
                        {% if action.expiration %}
                            <h6>Expires: {{ action.expiration.strftime('%b. %d, %Y') }}</h6>
                        {% endif %}
                    </a>
                    <div id="modal-action-{{ action.id }}" class="modal">
                        <div>
                            <h3 class="u-pull-left u-remove-margin-bottom">{{ action.title }}</h3>
                            <a href="#" class="button-modal-close u-pull-right">
                                <img src="/static/open-iconic/png/x.png" alt="X" />
                            </a>
                            <p class="u-cf">
                                {{ action.description|markdown }}
                            </p>
                            {% if current_user not in action.supporters.all() %}
                            <p class="u-remove-margin-bottom">
                                {% if action.link %}
                                <a rel="external" 
                                   class="button button-primary"
                                   target="_blank"
                                   data-support-href="{{ url_for('causes.action_support', slug=cause.slug,
                                                      pk=action.id) }}"
                                   href="{{ action.link }}">Support!</a>
                                {% else %}
                                <a class="button button-primary" 
                                   href="{{ url_for('causes.action_support', slug=cause.slug,
                                         pk=action.id) }}">Support!</a>
                                {% endif %}
                            </p>
                            {% endif %}
                            {% if current_user in cause.creators.all() or current_user.is_admin%}
                            <p>
                                <a href="{{ url_for('causes.action_edit', slug=cause.slug,
                                    pk=action.id) }}">Edit!</a>
                            </p>
                            {% endif %}
                            {% if action.supporters %}
                            <p class="u-remove-margin-bottom">
                                {% for supporter in action.supporters %}
                                    {{ render_avatar(supporter) }}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="three columns">
            <h4>Creators:</h4>
            {% for u in cause.creators.all() %}
                {{ render_avatar(u) }}
            {% endfor %}
            <h4>{{ cause.supporters.count() }} supporters:</h4>
            {% for u in cause.supporters.all() %}
                {{ render_avatar(u) }}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="nine columns">
            <h3>Conversation</h3>
        </div>
        <div class="three columns">
            <a class="button u-full-width" href="/cause/{{ cause.slug }}/posts/add">Add new post</a>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div class="row">
                {{ render_post_list(cause) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
