{% extends "base.html" %}
{% set active_page = "dashboard" %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/navigation.html" import render_cause_nav %}
{% from "helpers/causes.html" import render_cause_info, render_cause_stat, render_cause_support_actions %}
<div class="row">
    <div class="eight columns">
        <h1 class="u-remove-margin-bottom">{{ cause.title }}</h1>
    </div>
    <div class="four columns">
        <h1 class="u-remove-margin-bottom u-text-right"><small>vs. {{ cause.boss }}</small></h1>
    </div>
</div>
<hr class="u-remove-margin-bottom">
<div class="row">
    <div class="twelve columns">
        {{ render_cause_nav(active_page, cause) }}
    </div>
</div>
<div class="row u-add-margin-top">
    <div class="eight columns">
        {% if cause.video %}
            <!-- render video embed here -->
        {% elif cause.image %}
            <img class="u-full-width" src="{{ url_for('static', filename=cause.image) }}">
        {% endif %}
        <hr>
        <h3>{{ cause.story_heading }}</h3>
        <p>{{ cause.story_content }}</p>    
    </div>
    <div class="four columns">
        {% if supporter %}
        <a class="button u-full-width"
                href="#">
            Supporting</a>
        {% else %}
        <a class="button button-primary u-full-width"
                href="{{ url_for('causes.cause_support', slug=cause.slug) }}">
            Support!</a>
        {% endif %}
        {{ render_cause_info('Created on:', cause.created_on.strftime('%b. %d, %Y')) }}
        {{ render_cause_info('Location:', cause.location) }}
        {{ render_cause_stat('Creators:', cause.creators.count() , cause.creators, '#') }}
        {{ render_cause_stat('Supporters:', cause.supporters.count(), cause.supporters, '#') }}
        {{ render_cause_support_actions('Support actions:', cause.actions.all()) }}
        {% if creator %}
        <p class="u-cf u-add-margin-top u-remove-margin-bottom">
            <strong>Admin</strong>
        </p>
        <p>
            <a class="button button-primary"
                href="{{ url_for('causes.cause_edit', slug=cause.slug) }}">Edit</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
