{% extends "base.html" %}
{% set active_page = "story" %}

{% block scripts %}
{% endblock %}

{% block content %}
{% from "helpers/navigation.html" import render_cause_nav %}
{% from "helpers/causes.html" import render_cause_info, render_cause_stat, render_cause_support_actions %}
<div class="row">
    <div class="eight columns">
        <h1 class="u-remove-margin-bottom">{{ cause.title }}</h1>
    </div>
    <div class="four columns">
        <h1 class="u-remove-margin-bottom u-text-right"><small>vs. {{ cause.boss }}</small></h1>
    </div>
</div>
<hr class="u-remove-margin-bottom">
<div class="row">
    <div class="twelve columns">
        {{ render_cause_nav(active_page, 3, 5) }}
    </div>
</div>
<div class="row u-add-margin-top">
    <div class="eight columns">
        {% if cause.video %}
            <!-- render video embed here -->
        {% elif cause.image %}
            <img class="u-full-width" src="{{ url_for('static', filename=cause.image) }}">
        {% endif %}
        <hr>
        <h3>{{ cause.story_heading }}</h3>
        <p>{{ cause.story_content }}</p>    
    </div>
    <div class="four columns">
        {{ render_cause_info('Created on:', cause.created_on.strftime('%b. %d, %Y')) }}
        {{ render_cause_info('Location:', cause.location) }}
        {{ render_cause_stat('Creators:', cause.creators|length , cause.creators, '#') }}
        {{ render_cause_stat('Supporters:', cause.supporters|length, cause.supporters, '#') }}
        {{ render_cause_support_actions('Support actions:', cause.actions) }}
    </div>
</div>
{% endblock %}
