{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block title %}Not found - {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="six columns offset-by-three u-add-margin-top">
        <h2>Not Found</h2>
        <pre style="font-size:0.7em;">
       444444444       000000000            444444444  
      4::::::::4     00:::::::::00         4::::::::4  
     4:::::::::4   00:::::::::::::00      4:::::::::4  
    4::::44::::4  0:::::::000:::::::0    4::::44::::4  
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4  
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4  
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4  
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4  
          4::::4  0::::::0   0::::::0          4::::4  
          4::::4  0:::::::000:::::::0          4::::4  
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444</pre>
        <p>
        {% if g.user and g.user.is_authenticated %}
            <a href="{{ url_for('users.user', nickname=g.user.nickname) }}" class="button button-primary u-full-width">Back to profile</a>
        {% else %}
            <a href="{{ url_for('index') }}" class="button button-primary u-full-width">Back to front page</a>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}
