{% extends "base.html" %}

{% block title %}
    {{ _('Internal Server Error') }} - {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="six columns offset-by-three">
        <h2>Internal Server Error</h2>
        <pre style="font-size:0.7em;">
555555555555555555      000000000          000000000     
5::::::::::::::::5    00:::::::::00      00:::::::::00   
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00 
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00 
   55:::::::::55      00:::::::::00      00:::::::::00   
     555555555          000000000          000000000</pre>
        <p>
        {% if g.user and g.user.is_authenticated %}
            <a href="{{ url_for('users.user', nickname=g.user.nickname) }}" class="button button-primary u-full-width">Back to profile</a>
        {% else %}
            <a href="{{ url_for('index') }}" class="button button-primary u-full-width">Back to front page</a>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}
