{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplemde.10.0.1.min.css') }}"/>
{% endblock styles %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/simplemde.10.0.1.min.js') }}"></script>
<script>
$(document).ready(function() {
    var simplemde = new SimpleMDE({ 
        toolbar: ["bold", "italic", "quote", "|", "link", "image", "|",
                  "preview", "|", "guide"],
        status: false
    });
});
</script>   
{% endblock %}
