{% extends "base.html" %}

{% block content %}
<div class="container u-add-margin-top">
    {% from "helpers/forms.html" import render_field, render_boolean %}
    <form id="contact" name="contact" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <fieldset>
                <div class="six columns offset-by-three">
                    {{ render_field(
                        form.name(**{
                            'class':'u-full-width',
                            'data-validation':'required', 
                            'data-validation-error-msg-container':'#form-name-error',
                            'data-validation-error-msg':'Required'
                        }), 
                        form.name.label,
                        form.name.flags
                       ) 
                    }}
                    {{ render_field(
                        form.email(**{
                            'class':'u-full-width',
                            'data-validation':'email', 
                            'data-validation-error-msg-container':'#form-email-error',
                            'data-validation-error-msg':'incorrect'
                        }), 
                        form.email.label,
                        form.email.flags
                       ) 
                    }}
                    {{ render_field(
                        form.message(**{
                            'class':'u-full-width',
                            'data-validation':'required', 
                            'data-validation-error-msg-container':'#form-message-error',
                            'data-validation-error-msg':'Required'
                        }), 
                        form.message.label,
                        form.message.flags
                       ) 
                    }}
                    {{ render_boolean(form.send_to_self) }}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <div class="three columns offset-by-three">
                    <input class="button button-primary u-mobile-fixed-bottom" type="submit" value="Send">
                </div>
            </fieldset>
        </div>
    </form>
    <hr>
</div>
{% endblock %}
